<div class="mini-games-create flex flex_column" [formGroup]="form" [class.mini-games-create_editing]="isEdit">
  <div class="flex flex_column gap-12">
    <div class="flex gap-24">
      <yrx-drag-and-drop [loading]="imageLoading" (onLoad)="imageLoading = true" [fullHeight]="true" [accept]="['image/png','image/jpg','image/jpeg']" class="flex_grow" (onChange)="onPreviewSelect($event)" icon="file" [iconStroked]="true"></yrx-drag-and-drop>
      <div class="preview flex_grow">
        @if (dndResponse) {
          <img [src]="dndResponse?.url" [alt]="dndResponse?.file?.name">
        }
      </div>
    </div>

    <yrx-input>
      <input formControlName="name" yrxInput placeholder="Название мини-игры">
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
    </yrx-input>

    <yrx-text-area>
      <textarea formControlName="description" yrxInput placeholder="Описание мини-игры"></textarea>
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
    </yrx-text-area>
    <div>
      <div class="flex flex_column gap-8">
        <p class="text text_body regular">Ключи статистики топа</p>
        <div class="box box_input">
          <input formControlName="statisticsSearch" class="input_normal input_iconly input_dark" matInput placeholder="Поиск по ключу">
          <yrx-icon [hover]="false" [stroked]="true" [icon]="statisticsLoading ? 'loader' : 'search'"></yrx-icon>
        </div>
        @if (statisticsList.length > 0) {
          <div class="flex gap-8 flex_wrap">
            @for (statistics of statisticsList; track statistics) {
              <yrx-tag [disabled]="form.getRawValue().keys.length >= 3" (onSelect)="onSelectTag($event)" [defaultSelect]="form.get('keys')?.value?.includes?.(statistics.key)" [value]="statistics.key">{{statistics.title}}</yrx-tag>
            }
          </div>
        }
        @if (statisticsList.length === 0 && !statisticsLoading) {
          <p class="text text_body regular c-gradation-300">Нет результатов</p>
        }
      </div>
      <yrx-spacing type="XS2"></yrx-spacing>
    </div>
    <div>
      <div class="flex flex_column gap-8">
        <p class="text text_body regular">Ключ фильтрации топа</p>
        @if (statisticsSelectedList.length > 0) {
          <div class="flex gap-8 flex_wrap">
            @for (statistics of statisticsSelectedList; track statistics) {
              <yrx-tag [disabled]="!!form.get('filteredByKey')?.valid" (onSelect)="onSelectFilteredByKeyTag($event)" [defaultSelect]="statistics.key === form.get('filteredByKey')?.value" [value]="statistics.key">{{statistics.title}}</yrx-tag>
            }
          </div>
        }
        @if (statisticsSelectedList.length === 0) {
          <p class="text text_body regular c-gradation-300">Нет результатов</p>
        }
      </div>
      <yrx-spacing type="XS2"></yrx-spacing>
    </div>
    <yrx-input>
      <input formControlName="miniGameKey" yrxInput placeholder="Ключ мини-игры">
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
      <yrx-error-hint-field [field]="['alreadyUse']">Такая мини-игра уже существует</yrx-error-hint-field>
      <yrx-error-hint-field [field]="['notAllowedSymbol']">Ключ содержит недопустимые символы</yrx-error-hint-field>
    </yrx-input>
    <yrx-input>
      <input formControlName="icon" yrxInput placeholder="Иконка мини-игры">
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
    </yrx-input>
    <yrx-checkbox formControlName="iconStroked">
      использовать iconStroked
    </yrx-checkbox>
  </div>
  <yrx-spacing type="S"></yrx-spacing>
  @if (!isEdit) {
    <yrx-button (press)="create()" class="flex_align-self-end" [disabled]="dataLoading || form.pending || form.invalid" [loading]="dataLoading">
      <span>Создать</span>
      <yrx-icon btn-icon [stroked]="true" icon="loader"></yrx-icon>
    </yrx-button>
  } @else {
    <div class="flex gap-8 flex_align-self-end">
      <yrx-button (press)="edit()" [disabled]="dataLoading || form.pending || form.invalid" [loading]="dataLoading">
        <span>Сохранить</span>
        <yrx-icon btn-icon [stroked]="true" icon="loader"></yrx-icon>
      </yrx-button>
      <yrx-button (press)="cancel()" custom="red" [disabled]="dataLoading || form.pending || form.invalid"><span>Отменить</span></yrx-button>
    </div>
  }
</div>
