@import "src/shared/styles/vars.colors";
@import "src/shared/styles/layout/colored-box";

.mini-games-create {
  @include colored-box;
  border: 1px solid transparent;
  &_editing {
    border-color: map-get($project-colors, "purple", 400);
  }
}

.preview {
  border: 1px solid map-get($project-colors, "gradation", 600);
  border-radius: 12px;
  overflow: hidden;
  height: 248px;
  img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
