@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/layout/typography";
@import "src/shared/styles/widjets/icon_tools";

button.mat-button {
  cursor: pointer;
  line-height: 100%;
}

.mdc-button__label {
  display: flex;
  align-items: center;
  justify-content: center;
  &, span {
    @include span-text
  }
}

@mixin btn-big {
  height: 56px;
  padding: 0 20px;
  .mdc-button__label {
    gap: 8px;
    &, span {
      @include span-text-big();
    }
  }
  .icon:not(#{$unique_stroke_icons}) {
    @include icon-size(24px);
  }
}

@mixin btn-normal {
  height: 48px;
  padding: 0 16px;
  .mdc-button__label {
    gap: 6px;
    &, span {
      @include span-text-default();
    }
  }
  .icon:not(#{$unique_stroke_icons}) {
    @include icon-size(20px);
  }
}

@mixin btn-small {
  height: 40px;
  padding: 0 12px;
  .mdc-button__label {
    gap: 4px;
    &, span {
      @include span-text-small();
    }
  }
  .icon:not(#{$unique_stroke_icons}) {
    @include icon-size(16px);
  }
}


@mixin btn-primary() {
  $default_color: map-get($project-colors, "purple", 100);

  background-color: map-get($project-colors, "purple", 400);

  .mdc-button__label {
    &, span {
      @include weight-medium();
      color: $default_color;
    }
  }

  &.btn_iconly {
    #{$unique_stroke_icons} {
      stroke: $default_color;
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: $default_color;
    }
  }
  &_loading {
    border: 1px solid map-get($project-colors, "purple", 300);
    background-color: map-get($project-colors, "purple", 400);

    &, span {
      color: map-get($project-colors, "purple", 200);
    }

    #{$unique_stroke_icons} {
      stroke: map-get($project-colors, "purple", 200);
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: map-get($project-colors, "purple", 200);
    }
  }
  &:not(:disabled):hover {
    background-color: map-get($project-colors, "purple", 300);
  }
  &:focus {
  }
  &:active {
    background-color: map-get($project-colors, "purple", 400);
  }
}

@mixin btn-secondary() {
  $default_color: map-get($project-colors, "gradation", 200);

  background-color: map-get($project-colors, "gradation", 700);


  .mdc-button__label {
    &, span {
      @include weight-regular();
      color: $default_color;
    }
  }


  &.btn_iconly {
    #{$unique_stroke_icons} {
      stroke: $default_color;
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: $default_color;
    }
  }
  &_loading {
    border: 1px solid map-get($project-colors, "gradation", 700);
    background-color: map-get($project-colors, "gradation", 800);

    &, span {
      color: map-get($project-colors, "gradation", 300);
    }

    #{$unique_stroke_icons} {
      stroke: map-get($project-colors, "gradation", 300);
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: map-get($project-colors, "gradation", 300);
    }
  }
  &:not(:disabled):hover {
    background-color: map-get($project-colors, "gradation", 600);
  }
  &:focus {
  }
  &:active {
    background-color: map-get($project-colors, "gradation", 700);
  }
}

@mixin btn-disabled {
  background-color: map-get($project-colors, "gradation", 500);
  &, span {
    color: map-get($project-colors, "gradation", 600);
  }
  #{$unique_stroke_icons} {
    stroke: map-get($project-colors, "gradation", 600);
  }
  .icon:not(#{$unique_stroke_icons}) {
    fill: map-get($project-colors, "gradation", 600);
  }
}

@mixin btn-custom-light {
  $default_color: map-get($project-colors, "purple", 100);

  background-color: map-get($project-colors, "purple", 300);


  .mdc-button__label {
    &, span {
      @include span-text-default();
      @include weight-regular();
      color: $default_color;
    }
  }


  &.btn_iconly {
    #{$unique_stroke_icons} {
      stroke: $default_color;
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: $default_color;
    }
  }

  &:not(:disabled):hover {
    background-color: map-get($project-colors, "purple", 200);
  }

  &:focus {
  }

  &:active {
    background-color: map-get($project-colors, "purple", 300);
  }
}

@mixin btn-custom-white {
  $default_color: map-get($project-colors, "purple", 400);
  background-color: map-get($project-colors, "gradation", 100);

  .mdc-button__label {
    &, span {
      color: $default_color;
    }
  }


  &.btn_iconly {
    #{$unique_stroke_icons} {
      stroke: $default_color;
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: $default_color;
    }
  }

  &:not(:disabled):hover {
    background-color: map-get($project-colors, "purple", 100);
  }

  &:focus {
  }

  &:active {
    background-color: map-get($project-colors, "gradation", 100);
  }
}

@mixin btn-custom-red {
  $default_color: map-get($project-colors, "gradation", 200);
  background-color: map-get($project-colors, "red", 400);

  .mdc-button__label {
    &, span {
      color: $default_color;
    }
  }


  &.btn_iconly {
    #{$unique_stroke_icons} {
      stroke: $default_color;
    }

    .icon:not(#{$unique_stroke_icons}) {
      fill: $default_color;
    }
  }

  &:not(:disabled):hover {
    background-color: map-get($project-colors, "red", 300);
  }

  &:focus {
  }

  &:active {
    background-color: map-get($project-colors, "red", 300);
  }
}


@mixin btn {
  width: 100%;
  transition: background-color $trs, color $trs;
  border-radius: 6px;
  span {
    transition: color $trs;
  }

  .mat-button-focus-overlay {
    display: none !important;
  }

  overflow: hidden;
}


button.mat-mdc-button.btn {

  @include btn;

  &:disabled {
    cursor: not-allowed;
    @include btn-disabled;
  }

  &:not(&_iconly) {
    .icon-wrapper {
      display: none;
    }
  }

  &[custom="light"] {
    @include btn-custom-light;
  }

  &[custom="white"] {
    @include btn-custom-white;
  }
  &[custom="red"] {
    @include btn-custom-red;
  }

  &_primary {
    @include btn-primary;
  }

  &_secondary {
    @include btn-secondary;
  }

  &_big {
    @include btn-big;
  }

  &_normal {
    @include btn-normal;
  }

  &_small {
    @include btn-small;
  }
}
