@import "src/shared/styles/vars.colors";
@import "src/shared/styles/layout/typography";
@import "src/shared/styles/widjets/icons";

button.mat-button {
  transition: 0.2s ease;
  cursor: pointer;
  line-height: 100%;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn-big {
  height: 56px;
  padding: 0 20px;
  .mat-button-wrapper {
    gap: 8px;
  }
  .icon {
    @include icon-size(24px);
  }
}
@mixin btn-normal {
  height: 48px;
  padding: 0 16px;
  .mat-button-wrapper {
    gap: 6px;
  }
  .icon {
    @include icon-size(20px);
  }
}
@mixin btn-small {
  height: 40px;
  padding: 0 12px;
  .mat-button-wrapper {
    gap: 4px;
  }
  .icon {
    @include icon-size(16px);
  }
}

@mixin btn-primary() {
  $default_color: map-get($project-colors, "purple", 100);

  background-color: map-get($project-colors, "purple", 400);

  &, span {
    @include span-text-big();
    @include weight-medium();
    color: $default_color;
  }

  &_iconly {
    .icon {
      fill: $default_color;
    }
  }
  &_loading {
    border: 1px solid map-get($project-colors, "purple", 300);
    background-color: map-get($project-colors, "purple", 400);
    &, span {
      color: map-get($project-colors, "purple", 200);
    }
    .icon {
      fill: map-get($project-colors, "purple", 200);
    }
  }
  &:not(:disabled):hover {
    background-color: map-get($project-colors, "purple", 300);
  }
  &:focus {
  }
  &:active {
    background-color: map-get($project-colors, "purple", 400);
  }
}

@mixin btn-secondary() {
  $default_color: map-get($project-colors, "gradation", 200);

  background-color: map-get($project-colors, "gradation", 700);

  &, span {
    @include span-text-default();
    @include weight-regular();
    color: $default_color;
  }

  &_iconly {
    .icon {
      fill: $default_color;
    }
  }
  &_loading {
    border: 1px solid map-get($project-colors, "gradation", 700);
    background-color: map-get($project-colors, "gradation", 800);
    &, span {
      color: map-get($project-colors, "gradation", 300);
    }
    .icon {
      fill: map-get($project-colors, "gradation", 300);
    }
  }
  &:not(:disabled):hover {
  }
  &:focus {
  }
  &:active {
    background-color: map-get($project-colors, "gradation", 700);
  }
}

@mixin btn-disabled {
  background-color: map-get($project-colors, "gradation", 500);
  &, span {
    color: map-get($project-colors, "gradation", 600);
  }
  .icon {
    fill: map-get($project-colors, "gradation", 600);
  }
}

.mat-button.btn {
  &, span {
    transition: 0.2s ease;
  }
  .mat-button-focus-overlay {
    display: none !important;
  }
  overflow: hidden;

  &:disabled {
    cursor: not-allowed;
    @include btn-disabled;
  }

  &_primary {
    @include btn-primary;
  }
  &_secondary {
    @include btn-secondary;
  }

  &_big {
    @include btn-big;
  }
  &_normal {
    @include btn-normal;
  }
  &_small {
    @include btn-small;
  }
}
