@import "src/shared/styles/layout/typography";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/widjets/icon_tools";

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation: unset;
}

mat-form-field.mat-form-field {
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: auto;
}

$icon_selector: ".input_iconly + yrx-icon .icon";

@mixin input-big {
  height: 56px;
  @include text-big;
}
@mixin input-normal {
  height: 48px;
  @include text-body;
}
@mixin input-small {
  height: 40px;
  @include text-body;
  #{$icon_selector} {
    @include icon-size(16px);
  }
}

@mixin input-iconly {
  padding-right: 32px;
  & + yrx-icon {
    display: block;
    .icon {
      @include icon-size(20px);
      &:not(.icon_colored) {
        fill: map-get($project-colors, "gradation", 300);
        &.icon_stroke {
          fill: transparent;
          stroke: map-get($project-colors, "gradation", 300);
        }
      }
      &-hover {
        &:not(.icon_colored):not(.icon_stroke):hover {
          fill: map-get($project-colors, "gradation", 100);
        }
        &.icon_stroke:not(.icon_colored):hover {
          stroke: map-get($project-colors, "gradation", 100);
        }
      }
    }
  }
}

input.mat-mdc-input-element {
  width: 100%;
  transition: $trs;
  border-radius: 6px;
  padding: 0 16px;
  @include text;
  @include weight-regular;
  color: map-get($project-colors, "gradation", 100);
  caret-color: map-get($project-colors, "purple", 400);
  background-color: map-get($project-colors, "gradation", 700);
  border: 1px solid transparent;
  &::placeholder {
    color: map-get($project-colors, "gradation", 400);
  }
  &:not(.ng-touched.ng-invalid):focus {
    background-color: map-get($project-colors, "purple", 500);
    border-color: map-get($project-colors, "purple", 400);
  }
  &.ng-touched {
    &.ng-invalid {
      color: map-get($project-colors, "gradation", 300);
      border-color: map-get($project-colors, "red", 400);
    }
  }

  &.ng-touched {
    &.ng-valid {
      color: map-get($project-colors, "gradation", 300);
      border-color: map-get($project-colors, "green", 400);
    }
  }

  &.input {
    &_big {
      @include input-big;
    }
    &_normal {
      @include input-normal;
    }
    &_small {
      @include input-small;
    }
    &_iconly {
      @include input-iconly;
    }
  }
}
