@import "src/shared/styles/layout/typography";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/widjets/icon_tools";

$icon_selector: ".select_iconly + yrx-icon .icon";

div.mat-mdc-select-arrow-wrapper {
  display: none;
}

@mixin select-big {
  height: 56px;
  @include text-big;
}
@mixin select-normal {
  height: 48px;
  @include text-body;
}
@mixin select-small {
  height: 40px;
  @include text-body;
  #{$icon_selector} {
    @include icon-size(16px);
  }
}

@mixin select-iconly {
  padding-right: 32px;
  & + yrx-icon {
    display: block;
    .icon {
      @include icon-size(20px);
      &:not(.icon_colored) {
        fill: map-get($project-colors, "gradation", 300);
        &.icon_stroke {
          fill: transparent;
          stroke: map-get($project-colors, "gradation", 300);
        }
      }
      &-hover {
        &:not(.icon_colored):not(.icon_stroke):hover {
          fill: map-get($project-colors, "gradation", 100);
        }
        &.icon_stroke:not(.icon_colored):hover {
          stroke: map-get($project-colors, "gradation", 100);
        }
      }
    }
  }
}

mat-select.mat-mdc-select {
  width: 100%;
  transition: $trs;
  background-color: map-get($project-colors, "gradation", 700);
  border-radius: 6px;
  .mat-mdc-select-trigger {
    height: 100%;
  }

  &:not(.ng-touched.ng-invalid):focus {
  }
  &.ng-touched {
    &.ng-invalid {
    }
    &.ng-valid {
    }
  }

  &.select {
    &_big {
      @include select-big;
    }
    &_normal {
      @include select-normal;
    }
    &_small {
      @include select-small;
    }
    &_iconly {
      @include select-iconly;
    }
  }
}
