@import "src/shared/styles/layout/typography";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/widjets/icon_tools";

$icon_selector: "yrx-icon .icon";
$text_selector: ".mat-mdc-select-value-text, .mat-mdc-select-placeholder";

div.mat-mdc-select-arrow-wrapper {
  display: none;
}

@mixin select-big {
  height: 56px;
  .mat-mdc-select-trigger {
    padding-right: 44px;
    padding-left: 16px;
  }
  &.select_iconly .mat-mdc-select-trigger {
    padding-left: 44px;
  }
  #{$text_selector} {
    @include text-big;
    @include weight-regular;
  }
  & ~ yrx-icon.select-arrow .icon {
    right: 16px;
  }
  & ~ .icon-wrapper #{$icon_selector} {
    left: 16px;
  }
}
@mixin select-normal {
  height: 48px;
  .mat-mdc-select-trigger {
    padding-right: 42px;
    padding-left: 14px;
  }
  &.select_iconly .mat-mdc-select-trigger {
    padding-left: 40px;
  }
  #{$text_selector} {
    @include text-body;
    @include weight-regular;
  }
  & ~ yrx-icon.select-arrow .icon {
    right: 14px;
  }
  & ~ .icon-wrapper #{$icon_selector} {
    left: 14px;
  }
}
@mixin select-small {
  height: 40px;
  .mat-mdc-select-trigger {
    padding-right: 34px;
    padding-left: 10px;
  }
  &.select_iconly .mat-mdc-select-trigger {
    padding-left: 30px;
  }
  #{$text_selector} {
    @include text-body;
    @include weight-regular;
  }
  & ~ #{$icon_selector}, & ~ .icon-wrapper #{$icon_selector} {
    @include icon-size(16px);
  }
  & ~ yrx-icon.select-arrow .icon {
    right: 10px;
  }
  & ~ .icon-wrapper #{$icon_selector} {
    left: 10px;
  }
}

mat-select.mat-mdc-select {
  position: relative;
  width: 100%;
  background-color: map-get($project-colors, "gradation", 700);
  border-radius: 6px;
  border: 1px solid transparent;

  &[custom="dark"] {
    background-color: map-get($project-colors, "gradation", 750);
  }

  .mat-mdc-select-trigger {
    height: 100%;
  }
  #{$text_selector} {
    color: map-get($project-colors, "gradation", 400);
    user-select: none;
  }

  & ~ #{$icon_selector}, & ~ .icon-wrapper #{$icon_selector} {
    @include icon-size(20px);
    &:not(.icon_colored) {
      fill: map-get($project-colors, "gradation", 300);
      &.icon_stroke {
        fill: transparent;
        stroke: map-get($project-colors, "gradation", 300);
      }
    }
  }

  &:not(.ng-touched.ng-invalid):focus {
  }
  &.ng-touched {
    &.ng-invalid {
    }
    &.ng-valid {
    }
  }

  &.select {
    &_big {
      @include select-big;
    }
    &_normal {
      @include select-normal;
    }
    &_small {
      @include select-small;
    }
    &_expanded {
      & ~ yrx-icon.select-arrow .icon {
        transform: translateY(-50%) scaleY(-1);
        z-index: 1002;
      }
      & ~ .icon-wrapper #{$icon_selector} {
        z-index: 1002;
      }
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-color: map-get($project-colors, "gradation", 600);
      position: relative;
      z-index: 1001;
      &.isAbove {
        border-color: map-get($project-colors, "gradation", 600);
        border-radius: 0 0 6px 6px;
      }
    }
    &:not(&_iconly) {
      .icon-wrapper {
        display: none;
      }
    }
  }
}

// если панелька снизу
div.mdc-menu-surface.mat-mdc-select-panel {
  margin: 1px 0 0 -1px;
  box-sizing: border-box;
  background-color: map-get($project-colors, "gradation", 700);
  padding: 0 8px;
  border: 1px solid map-get($project-colors, "gradation", 600);
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 8px 16px rgba(9, 13, 17, 0.3);
  &.select-panel-dark {
    background-color: map-get($project-colors, "gradation", 750);
  }
  z-index: 1000;
  &::-webkit-scrollbar {
    background-color: map-get($project-colors, "gradation", 750);
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid map-get($project-colors, "gradation", 800);
    border-radius: 5px;
  }
}

// если панелька сверху
.mat-mdc-select-panel-above div.mdc-menu-surface.mat-mdc-select-panel {
  border-radius: 6px 6px 0 0;
  border: 1px solid map-get($project-colors, "gradation", 600);
  border-bottom: none;
}

// фон
.cdk-overlay-backdrop.selected-pane-overlay {
  //background: map-get($project-colors, "tint", 800);
  background-color: transparent;
  backdrop-filter: unset;
  z-index: 999;
  -webkit-tap-highlight-color: unset;
}

// какая-то хрень
.mat-mdc-option:hover:not(.mdc-list-item--disabled), .mat-mdc-option:focus:not(.mdc-list-item--disabled), .mat-mdc-option.mat-mdc-option-active, .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
  background-color: transparent;
}
