@import "src/styles/vars";


mat-slide-toggle {
  &.mat-slide-toggle {
    width: 52px;
    height: 32px;

    span {
      &.mat-slide-toggle-bar {
        height: 100%;
        width: 100%;
        border-radius: 100px;
        border: 1px solid map-get($project-colors, "gray", 400);
        background-color: map-get($project-colors, "gray", 100);
      }
      &.mat-slide-toggle-thumb {
        box-shadow: unset;
        width: 16px;
        height: 16px;
        background-color: map-get($project-colors, "gray", 400);
      }
      &.mat-slide-toggle-thumb-container {
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(8px) translate3d(0, 0, 0);
      }
    }
    &.mat-checked {
      span {
        &.mat-ripple-element.mat-slide-toggle-persistent-ripple {
          background-color: map-get($project-colors,"green", 50);
        }

        &.mat-slide-toggle-bar {
          border: 1px solid map-get($project-colors, "green", 400);
          background-color: map-get($project-colors, "green", 100);
        }

        &.mat-slide-toggle-thumb {
          width: 24px;
          height: 24px;
          background-color: map-get($project-colors, "gray", 50);
        }

        &.mat-slide-toggle-thumb-container {
          width: 24px;
          height: 24px;
          transform: translateY(-50%) translateX(23px) translate3d(0, 0, 0);
        }
      }
      div {
        &.mat-ripple-element {
          background-color: map-get($project-colors,"green", 50);
          opacity: 1;
        }
      }
    }
  }
}

