@import "../vars";

mat-tab-group {
  flex: 1;
}

div.mat-tab-body-content {
  overflow-y: hidden;
}

.mat-tab-labels {
  gap: 20px;
}

@mixin tab-label {
  font-size: 18px;
  line-height: 1.11em;
}

div.mat-tab-label {
  padding: 10px 0 14px;
  min-width: auto;
  height: auto;
  text-align: left;
  opacity: 1;
  @include tab-label;

  &-content {
    color: #000;
  }

  //
  //&:first-of-type {
  //  padding: 10px 10px 14px 0;
  //}
  //&:not(:first-of-type) {
  //  padding: 10px 10px 14px 10px;
  //}
  //&:last-of-type {
  //  padding: 10px 0 14px 10px;
  //}

  animation: tab-label-show 0.3s ease;

  &:hover {
    background-color: #f3f3f3;
  }

  &-active:hover {
    background-color: transparent;
  }
}

.visible div.mat-tab-label-container {
  overflow: visible;
}
div.mat-tab-label-container {
  overflow: hidden;
}
.mat-tab-header-pagination:not(.mat-tab-header-pagination-disabled) {
  box-shadow: unset !important;
  background-color: #f3f3f3 !important;
  border-radius: 6px !important;
}

mat-tab-header.mat-tab-header {
  border-bottom: 1px solid #E3E3EB;
  overflow: visible;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: map-get($project-colors, "gradation", "main");
  bottom: -1px;
}

div.mat-tab-body-wrapper {
  margin-top: 35px;
  overflow: visible;
  min-height: 100%;
  flex-grow: 1;
}

.mat-tab-body-active {
  animation: tab-show 0.3s ease;
  transform: translateY(0);
  opacity: 1;

}

.bank-partner-viewing #mat-tab-content-0-2 {
  top: -25px;
}

@keyframes tab-label-show {
  0% {
    transform: translateY(10px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tab-show {
  0% {
    transform: translateY(-10px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.mat-tab-label {
  user-select: none;
}

.button-tabs {
  mat-ink-bar.mat-ink-bar {
    display: none;
  }

  mat-tab-header.mat-tab-header {
    border: unset;
  }

  div.mat-tab-label {
    flex-basis: 250px;
    justify-content: start;
    transition: .2s ease;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;

    &-active {
      filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.12));
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 600;
    color: #000;
  }

  &__subtext {
    font-size: 13px;
    line-height: 1.53em;
  }

  .mat-ripple-element {
    background-color: rgba(#e0e0e0, 0.25);
  }
}

.tab-label {
  @include tab-label;
  color: #000;
}
