mat-table {
  margin-bottom: 35px;
}

.mat-header-row {
  min-height: 36px;
}

@keyframes move {
  0% {
    transform: translateY(10px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

$transitions: (2: 0.49s, 3: 0.58s, 4: 0.67s, 5: 0.76s, 6: 0.85s, 7: 0.94s, 8: 1.03s, 9: 1.12s,);

.mat-row {
  min-height: 81px;
  transition: 0.2s ease;

  animation: move 1.12s ease;
  @for $i from 0 through 9 {
    &:nth-child(#{$i}) {
      animation: move map-get($transitions, $i) ease;
    }
  }

  &:hover {
    background-color: #f8f8f8;
  }
}


.mat-header-cell {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35em;
  color: #A7A7A7;
  animation: header-cell-show 0.3s ease;
}

.mat-cell {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #000000;

  &:first-of-type {
    color: #0E43FF;
    font-weight: 600;
    line-height: 1.31em;
  }

  &:last-of-type {
    position: relative;
  }
}

.mat-cell, .mat-header-cell {
  padding-left: 10px;

  &:first-of-type {
    padding-left: 10px;
  }
}

.mat-header-row {
  border-bottom: 2px solid #E3E3EB;
}

@keyframes header-cell-show {
  0% {
    transform: translateY(10px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
