<div class="voting">
  <h3>Голосуйте за наш проект</h3>
  <yrx-spacing type="XS2"></yrx-spacing>
  <p class="text text_body regular c-gradation-300">
    Голосуйте за наш проект в рейтингах: TopCraft, MinecraftRating и Monitoring Minecraft.<br/><br/>
    Чтобы проголосовать за наш проект просто нажмите на плашку рейтинга ниже:
  </p>
  <yrx-spacing type="S"></yrx-spacing>
  <div class="flex gap-24">
    <yrx-voting-banner title="TopCraft" description="Рейтинг Minecraft-серверов" icon="trophy"></yrx-voting-banner>
    <yrx-voting-banner title="MinecraftRating" description="Голос сообщества" icon="arrow-big-up"></yrx-voting-banner>
    <yrx-voting-banner title="Monitoring Minecraft" description="Мониторинг серверов" icon="search"></yrx-voting-banner>
  </div>
  <yrx-spacing type="S"></yrx-spacing>
  <p class="text text_body regular c-gradation-300">
    Голосуя за наш проект, вы помогаете ему развиваться и привлекать новых игроков. Ссылки и условия наград появятся после публикации контрактов голосования.
  </p>
</div>
