<div class="voting">
  <h3>Голосуйте за наш проект</h3>
  <yrx-spacing type="XS2"></yrx-spacing>
  <p class="text text_body regular c-gradation-300">
    Голосуйте за наш проект в рейтингах: TopCraft, MinecraftRating и Monitoring Minecraft.<br/><br/>
    Чтобы проголосовать за наш проект просто нажмите на плашку рейтинга ниже:
  </p>
  <yrx-spacing type="S"></yrx-spacing>
  <div class="flex gap-24">
    <yrx-voting-banner></yrx-voting-banner>
    <yrx-voting-banner></yrx-voting-banner>
    <yrx-voting-banner></yrx-voting-banner>
  </div>
  <yrx-spacing type="S"></yrx-spacing>
  <p class="text text_body regular c-gradation-300">
    Голосуя за наш проект вы помогаете нам развиваться и привлекать новых игроков. Голосуя вы получаете монеты, открываете достижения, а также можете получить платный контент бесплатно.
  </p>
</div>
