@import "src/shared/styles/vars.colors";

:host {
  flex: 1;
}

.donate-panel {
  overflow: hidden;
  background-color: map-get($project-colors, "gradation", 800);
  border: 1px solid map-get($project-colors, "gradation", 600);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 24px;
  position: relative;
}

yrx-coin {
  width: 192px;
  height: 192px;
  position: absolute;
  bottom: -24px;
  right: -48px;
}
