@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/layout/profile-border-box";

.skins-viewer {
  height: 368px;
  @include profile-border-box;
}
.icon-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  &.edge {
    top: 14px;
    left: 14px;
    transform: unset;
  }
}
.viewer {
  padding: 14px;
  height: 100%;
  flex-basis: 294px;
  border-radius: 6px;
  background: map-get($project-colors, "gradation", 750);
  .scrollbar {
    width: 100%;
    height: 8px;
    background-color: map-get($project-colors, "gradation", 600);
    border-radius: 4px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    input {
      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }
  overflow: hidden;
  position: relative;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &-actions {
    position: relative;
  }
  &-interactive {
    display: none;
  }
}
