<div class="user-panel flex flex_column">
  <div class="flex gap-12 flex_align-center">
    <img src="assets/content/header/default-avatar.png" [alt]="'Аватар игрока '+user?.login+' yurelax'">
    <div class="flex flex_column">
      <p class="text text_big medium c-gradation-100">{{user?.login}}</p>
      <p class="text text_table regular c-gradation-300">Статус игрока</p>
    </div>
  </div>
  <yrx-spacing type="XS"></yrx-spacing>
  <div class="flex flex_align-center flex_justify-between">
    <p class="text text_table regular c-gradation-300">Баланс игрока:</p>
    <div class="flex flex_justify-between flex_align-center gap-6">
      <p class="headline c-gradation-100">199</p>
      <yrx-icon icon="ucoin"></yrx-icon>
    </div>
  </div>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-button size="small">Пополнить баланс</yrx-button>
</div>
