@import "src/shared/styles/vars.colors";

.admin-layout {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: map-get($project-colors, "gradation", 800);
}
.withoutScroll {
  padding-right: 12px;
}
