@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/widjets/icon_tools";
@import "src/shared/styles/layout/typography";

$text: ".text, .text span";
:host {
  display: inline-block;
}
@mixin link-big {
  height: 28px;
  #{$text} {
    @include text-big();
  }
}
@mixin link-normal {
  height: 24px;
  #{$text} {
    @include text-body();
  }
}
@mixin link-small {
  height: 20px;
  #{$text} {
    @include text-table();
  }
  &.link {
    &_iconly {
      gap: 2px;
    }
  }
}

@mixin link-style-default {
  #{$text} {
    color: map-get($project-colors, "gradation", 100);
  }
  #{$text}, &_underlined {
    transition: $trs;
  }
  &_underlined {
    border-bottom-color: map-get($project-colors, "gradation", 100);
    &.hover {
      &:hover {
        border-bottom-color: map-get($project-colors, "purple", 200);
      }
    }
  }
  &.hover {
    &:hover {
      #{$text} {
        color: map-get($project-colors, "purple", 200);
      }
    }
  }
}

@mixin link-custom-purple {
  #{$text} {
    color: map-get($project-colors, "purple", 300);
  }

  #{$text}, &_underlined {
    transition: $trs;
  }
  &_underlined {
    border-bottom-color: map-get($project-colors, "purple", 300);
    &.hover {
      &:hover {
        pointer-events: none;
      }
    }
  }
  &.hover {
    &:hover {
      pointer-events: none;
    }
  }
}

.link {
  display: inline-flex;
  cursor: pointer;
  &.disabled {
    cursor: not-allowed;
  }
  border-bottom: 1px solid transparent;

  &_iconly {
    yrx-icon {
      @include icon-size(20px)
    }
  }
  &:not(&_iconly) {
    .icon-wrapper {
      display: none;
    }
  }

  &_big {
    @include link-big;
  }
  &_normal {
    @include link-normal;
  }
  &_small {
    @include link-small;
  }

  @include link-style-default;

  &[custom="purple-300"] {
    &.link {
      @include link-custom-purple;
    }
  }
}
