@import "src/shared/styles/vars";
@import "src/shared/styles/widjets/icons";

.drop-box {
  cursor: pointer;
  border: 1px dashed #4D69FF;
  filter: drop-shadow(0px 0px 20px rgba(76, 87, 125, 0.02));
  padding: 20px;

  &.row {
    border-radius: 6px;
    .content {
      flex-direction: row;
      gap: 10px;
      .icon {
        @include icon-height(38px);
        @include icon-width(33.6px);
      }
    }
    &.disabled {
      cursor: not-allowed;
      background-color: map-get($project-colors, "gray", 100);
      border: 1px dashed map-get($project-colors, "gray", 400);
      .title-medium {
        color: 1px dashed map-get($project-colors, "gray", 400);
      }
      .icon-upload {
        fill: map-get($project-colors, "gray", 400);
      }
    }
  }

  &.loaded {
    display: none;
  }
  &:not(.disabled).draging {
    border: 2px dashed #4D69FF;
  }
}
.img-wrapper {
  display: inline-block;
  height: 100%;
  position: relative;
}
.icon-drop-box-close {
  position: absolute;
  right: 6px;
  top: 6px;
  background-color: rgba(map-get($project-colors,"gray",700), 0.5);
  padding: 4px;
  border-radius: 50%;
  &:hover {
    background-color: rgba(map-get($project-colors,"gray",700), 0.45);
  }
  cursor: pointer;
}
img {
  object-fit: contain;
  height: 100%;
  border-radius: 4px;
}
