<div class="box box_select" #boxSelect>
  <mat-select (opened)="opened()" (closed)="closed()" [panelClass]="'select-panel-'+custom" [attr.custom]="custom" [class.isAbove]="isAbove" [class.select_expanded]="select.panelOpen" [value]="selectedOption?.value" [ngClass]="'select_'+size" [class.select_iconly]="icon.children.length > 0" [placeholder]="placeholder" #select>
    <ng-template #optionTemplate let-option>
      <yrx-dropout-point [optionCustom]="custom" [selected]="options[option.idx].value === selectedOption?.value" [icon]="option.option.icon" [iconStroked]="option.option.iconStroked"
        (optionSelect)="onOptionSelect($event)" [isOption]="true" [underlined]="options.length-1 !== option.idx"
        [value]="option.option.value">{{option.option.text}}
      </yrx-dropout-point>
    </ng-template>
    @for (option of options; track option; let idx = $index) {
      <mat-option style="display: none"
        [value]="option.value"
        [ngTemplateOutlet]="optionTemplate" [ngTemplateOutletContext]="{ $implicit: {option, idx}}">{{option.text}}
      </mat-option>
    }
  </mat-select>
  <yrx-icon class="select-arrow" [stroked]="true" icon="chevron-arrow-down"></yrx-icon>
  <div class="icon-wrapper" #icon>
    @if (!selectedOption?.icon) {
      <ng-content select="[select-icon]"></ng-content>
    } @else {
      <yrx-icon [stroked]="selectedOption!.iconStroked ? selectedOption!.iconStroked : false" [icon]="selectedOption!.icon ? selectedOption!.icon : ''"></yrx-icon>
    }
  </div>
</div>
