<div class="statistics-item flex flex_justify-between gap-12" *ngIf="!isEdit">
  <div class="flex_grow">
    <div class="flex flex_column gap-4">
      <p class="text text_body regular c-gradation-300"><span class="c-gradation-100">Название:</span> {{data.title}}</p>
      <p class="text text_body regular c-gradation-300"><span class="c-gradation-100">Описание:</span> {{data.description}}</p>
      <p class="text text_body regular c-gradation-300"><span class="c-gradation-100">Ключ:</span> {{data.key}}</p>
    </div>
  </div>
  <div class="flex gap-8">
    <yrx-button [disabled]="dataLoading" (press)="edit()" type="primary">Редактировать</yrx-button>
    <yrx-button [disabled]="dataLoading" (press)="delete()" custom="red" [iconLoading]="dataLoading">
      <span>Удалить</span>
      <yrx-icon btn-icon [stroked]="true" icon="loader"></yrx-icon>
    </yrx-button>
  </div>
</div>
<yrx-statistics-create (onUpdate)="onUpdateHandler($event)" *ngIf="isEdit" [isEdit]="isEdit" [data]="data"></yrx-statistics-create>
