@import "src/shared/styles/vars.md";

.spacing {
  &.XS2 {
    height: 12px;
  }
  &.XS {
    height: 16px;
  }
  &.S {
    height: 24px;
  }
  &.M {
    height: 48px;
  }
  &.L {
    height: 72px;
  }
  &.XL {
    height: 96px;
  }
  &.XL2 {
    height: 128px;
  }
  @media (max-width: map-get($md, 't-h')) {
    &.XS2 {
      height: 8px;
    }
    &.XS {
      height: 12px;
    }
    &.S {
      height: 16px;
    }
    &.M {
      height: 32px;
    }
    &.L {
      height: 48px;
    }
    &.XL {
      height: 64px;
    }
    &.XL2 {
      height: 88px;
    }
  }
}

