<yrx-layout>
  <yrx-header [light]="false" header></yrx-header>
  <section content class="wiki-layout flex flex_column" [ngStyle]="styles">
    <main class="main flex_grow flex flex_column">
      <yrx-spacing type="L"></yrx-spacing>
      <div class="container flex_grow flex gap-48">
        <yrx-sidebar [navigation]="wikiNavigation" [collapsible]="true" mobileLabel="Разделы вики"></yrx-sidebar>
        <div class="scrollable flex_grow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </section>
</yrx-layout>
