<section class="wiki-layout flex flex_column" [ngStyle]="styles">
  <main class="main flex_grow flex flex_column">
      <yrx-spacing type="L"></yrx-spacing>
      <div class="container flex gap-48">
        <yrx-sidebar [navigation]="wikiNavigation"></yrx-sidebar>
        <div [@routeAnimations]="animationsService.getRouteAnimationData(outlet)" class="scrollable flex_grow">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </div>
      <yrx-spacing type="XL2"></yrx-spacing>
  </main>
</section>
