@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";

.c {
  &-white {
    color: #fff;
  }

  &-black {
    color: #000;
  }

  &-gradation-800 {
    color: map-get($project-colors, "gradation", 800);
  }

  &-gradation-700 {
    color: map-get($project-colors, "gradation", 700);
  }

  &-gradation-600 {
    color: map-get($project-colors, "gradation", 600);
  }

  &-gradation-500 {
    color: map-get($project-colors, "gradation", 500);
  }

  &-gradation-400 {
    color: map-get($project-colors, "gradation", 400);
  }

  &-gradation-300 {
    color: map-get($project-colors, "gradation", 300);
  }

  &-gradation-200 {
    color: map-get($project-colors, "gradation", 200);
  }

  &-gradation-100 {
    color: map-get($project-colors, "gradation", 100);
  }

  &-red-600 {
    color: map-get($project-colors, "red", 600);
  }

  &-red-500 {
    color: map-get($project-colors, "red", 500);
  }

  &-red-400 {
    color: map-get($project-colors, "red", 400);
  }

  &-red-300 {
    color: map-get($project-colors, "red", 300);
  }

  &-red-200 {
    color: map-get($project-colors, "red", 200);
  }

  &-red-100 {
    color: map-get($project-colors, "red", 100);
  }

  &-purple-600 {
    color: map-get($project-colors, "purple", 600);
  }

  &-purple-500 {
    color: map-get($project-colors, "purple", 500);
  }

  &-purple-400 {
    color: map-get($project-colors, "purple", 400);
  }

  &-purple-300 {
    color: map-get($project-colors, "purple", 300);
  }

  &-purple-200 {
    color: map-get($project-colors, "purple", 200);
  }

  &-purple-100 {
    color: map-get($project-colors, "purple", 100);
  }

  &-green-600 {
    color: map-get($project-colors, "green", 600);
  }

  &-green-500 {
    color: map-get($project-colors, "green", 500);
  }

  &-green-400 {
    color: map-get($project-colors, "green", 400);
  }

  &-green-300 {
    color: map-get($project-colors, "green", 300);
  }

  &-green-200 {
    color: map-get($project-colors, "green", 200);
  }

  &-green-100 {
    color: map-get($project-colors, "green", 100);
  }

  &-yellow-600 {
    color: map-get($project-colors, "yellow", 600);
  }

  &-yellow-500 {
    color: map-get($project-colors, "yellow", 500);
  }

  &-yellow-400 {
    color: map-get($project-colors, "yellow", 400);
  }

  &-yellow-300 {
    color: map-get($project-colors, "yellow", 300);
  }

  &-yellow-200 {
    color: map-get($project-colors, "yellow", 200);
  }

  &-yellow-100 {
    color: map-get($project-colors, "yellow", 100);
  }
}
.link {
  transition: $trs;
  &.c {
    &-purple-300 {
      &:hover {
        color: map-get($project-colors, "purple", 200);
      }
    }
  }
}
