@import "/src/shared/styles/vars.colors";

@mixin icon-size($size) {
  @include icon-width($size);
  @include icon-height($size);
}

@mixin icon-width($size) {
  width: $size;
  max-width: $size;
  min-width: $size;
}

@mixin icon-height($size) {
  height: $size;
  max-height: $size;
  min-height: $size;
}

.icon {
  display: block;
  transition: 0.2s ease;

  &-dc, &-tg, &-vk {
    @include icon-size(24px);
    fill: map-get($project-colors, "gradation", 500);
    cursor: pointer;
    &:hover {
      fill: map-get($project-colors, "gradation", 400);
    }
  }

  &-yurelax {
    @include icon-size(48px);
    fill: map-get($project-colors, "red", 300);
  }

  &-login {
    @include icon-size(20px);
    stroke: map-get($project-colors, "gradation", 300);
    fill: none;
  }

  &-arrow-up {
    @include icon-size(20px);
    stroke: map-get($project-colors, "gradation", 100);
    fill: none;
  }

  &-spinner {
    @include icon-size(16px);
    fill: black;
    animation: spinner 0.6s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.icon {
  &-gradation-800 {
    fill: map-get($project-colors, "gradation", 800);
  }

  &-gradation-700 {
    fill: map-get($project-colors, "gradation", 700);
  }

  &-gradation-600 {
    fill: map-get($project-colors, "gradation", 600);
  }

  &-gradation-500 {
    fill: map-get($project-colors, "gradation", 500);
  }

  &-gradation-400 {
    fill: map-get($project-colors, "gradation", 400);
  }

  &-gradation-300 {
    fill: map-get($project-colors, "gradation", 300);
  }

  &-gradation-200 {
    fill: map-get($project-colors, "gradation", 200);
  }

  &-gradation-100 {
    fill: map-get($project-colors, "gradation", 100);
  }

  &-red-600 {
    fill: map-get($project-colors, "red", 600);
  }

  &-red-500 {
    fill: map-get($project-colors, "red", 500);
  }

  &-red-400 {
    fill: map-get($project-colors, "red", 400);
  }

  &-red-300 {
    fill: map-get($project-colors, "red", 300);
  }

  &-red-200 {
    fill: map-get($project-colors, "red", 200);
  }

  &-red-100 {
    fill: map-get($project-colors, "red", 100);
  }

  &-purple-600 {
    fill: map-get($project-colors, "purple", 600);
  }

  &-purple-500 {
    fill: map-get($project-colors, "purple", 500);
  }

  &-purple-400 {
    fill: map-get($project-colors, "purple", 400);
  }

  &-purple-300 {
    fill: map-get($project-colors, "purple", 300);
  }

  &-purple-200 {
    fill: map-get($project-colors, "purple", 200);
  }

  &-purple-100 {
    fill: map-get($project-colors, "purple", 100);
  }

  &-green-600 {
    fill: map-get($project-colors, "green", 600);
  }

  &-green-500 {
    fill: map-get($project-colors, "green", 500);
  }

  &-green-400 {
    fill: map-get($project-colors, "green", 400);
  }

  &-green-300 {
    fill: map-get($project-colors, "green", 300);
  }

  &-green-200 {
    fill: map-get($project-colors, "green", 200);
  }

  &-green-100 {
    fill: map-get($project-colors, "green", 100);
  }

  &-yellow-600 {
    fill: map-get($project-colors, "yellow", 600);
  }

  &-yellow-500 {
    fill: map-get($project-colors, "yellow", 500);
  }

  &-yellow-400 {
    fill: map-get($project-colors, "yellow", 400);
  }

  &-yellow-300 {
    fill: map-get($project-colors, "yellow", 300);
  }

  &-yellow-200 {
    fill: map-get($project-colors, "yellow", 200);
  }

  &-yellow-100 {
    fill: map-get($project-colors, "yellow", 100);
  }
}
.icon-hover {
  &.icon-gradation-800 {
    &:hover {
      fill: map-get($project-colors, "gradation", 800);
    }
  }

  &.icon-gradation-700 {
    fill: map-get($project-colors, "gradation", 700);
  }

  &.icon-gradation-600 {
    fill: map-get($project-colors, "gradation", 600);
  }

  &.icon-gradation-500 {
    fill: map-get($project-colors, "gradation", 500);
  }

  &.icon-gradation-400 {
    fill: map-get($project-colors, "gradation", 400);
  }

  &.icon-gradation-300 {
    fill: map-get($project-colors, "gradation", 300);
  }

  &.icon-gradation-200 {
    fill: map-get($project-colors, "gradation", 200);
  }

  &.icon-gradation-100 {
    fill: map-get($project-colors, "gradation", 100);
  }

  &.icon-red-600 {
    fill: map-get($project-colors, "red", 600);
  }

  &.icon-red-500 {
    fill: map-get($project-colors, "red", 500);
  }

  &.icon-red-400 {
    fill: map-get($project-colors, "red", 400);
  }

  &.icon-red-300 {
    fill: map-get($project-colors, "red", 300);
  }

  &.icon-red-200 {
    fill: map-get($project-colors, "red", 200);
  }

  &.icon-red-100 {
    fill: map-get($project-colors, "red", 100);
  }

  &.icon-purple-600 {
    fill: map-get($project-colors, "purple", 600);
  }

  &.icon-purple-500 {
    fill: map-get($project-colors, "purple", 500);
  }

  &.icon-purple-400 {
    fill: map-get($project-colors, "purple", 400);
  }

  &.icon-purple-300 {
    fill: map-get($project-colors, "purple", 300);
  }

  &.icon-purple-200 {
    &:hover {
      fill: map-get($project-colors, "purple", 100);
    }
  }

  &.icon-purple-100 {
    &:hover {
      fill: map-get($project-colors, "purple", 200);
    }
  }

  &.icon-green-600 {
    fill: map-get($project-colors, "green", 600);
  }

  &.icon-green-500 {
    fill: map-get($project-colors, "green", 500);
  }

  &.icon-green-400 {
    fill: map-get($project-colors, "green", 400);
  }

  &.icon-green-300 {
    fill: map-get($project-colors, "green", 300);
  }

  &.icon-green-200 {
    fill: map-get($project-colors, "green", 200);
  }

  &.icon-green-100 {
    fill: map-get($project-colors, "green", 100);
  }

  &.icon-yellow-600 {
    fill: map-get($project-colors, "yellow", 600);
  }

  &.icon-yellow-500 {
    fill: map-get($project-colors, "yellow", 500);
  }

  &.icon-yellow-400 {
    fill: map-get($project-colors, "yellow", 400);
  }

  &.icon-yellow-300 {
    fill: map-get($project-colors, "yellow", 300);
  }

  &.icon-yellow-200 {
    fill: map-get($project-colors, "yellow", 200);
  }

  &.icon-yellow-100 {
    fill: map-get($project-colors, "yellow", 100);
  }
}
