<div [routerLink]="['/platform/profile']" class="panel flex gap-12 flex_align-center" [class.dark]="dark">
  <img width="40" height="40" src="assets/content/header/default-avatar.png" [alt]="'Аватар игрока '+user?.login+' на yurelax'" class="avatar"/>
  <div class="flex flex_column">
    <p class="text text_body medium">{{user?.login}}</p>
    <yrx-link [hover]="dark" [custom]="dark ? 'purple-300' : ''" class="link" size="small" [iconStroked]="true" icon="chevron-arrow-right">Личный кабинет</yrx-link>
  </div>
</div>
