<div class="page" [@routeAnimations]="pageName">
  @if (loading$ | async) {
    <yrx-skeleton theme="dark" [styles]="styles"></yrx-skeleton>
  } @else {
    @if (page; as page) {
      @for (slice of page.slices; track slice; let idx = $index) {
        @switch (slice.type) {
          @case ('spacing') {
            <yrx-spacing [type]="getSpacingType(slice.value)"></yrx-spacing>
          }
          @case ('header') {
            <yrx-wiki-head [title]="slice.value" [icon]="page.metadata['icon']"></yrx-wiki-head>
            @if (isNotLast(idx)) {
              <yrx-spacing type="M"></yrx-spacing>
            }
          }
          @case ('title') {
            <h3>{{slice.value}}</h3>
            @if (isNotLast(idx)) {
              <yrx-spacing type="XS2"></yrx-spacing>
            }
          }
          @case ('subtitle') {
            <p class="headline">{{slice.value}}</p>
            @if (isNotLast(idx)) {
              <yrx-spacing type="XS2"></yrx-spacing>
            }
          }
          @case ('text') {
            <p class="text text_big c-gradation-300">{{slice.value}}</p>
            @if (isNotLast(idx)) {
              <yrx-spacing type="S"></yrx-spacing>
            }
          }
          @case ('image') {
            <yrx-wiki-picture [description]="slice.displayTitle ?? ''" [src]="slice.value" [alt]="slice.displayTitle ?? 'Википедия yurelax'"></yrx-wiki-picture>
            @if (isNotLast(idx)) {
              <yrx-spacing type="S"></yrx-spacing>
            }
          }
          @case ('link') {
            <yrx-link [iconStroked]="true" icon="external-link" (press)="redirect(slice.value)">{{slice.displayTitle ?? slice.value}}</yrx-link>
          }
        }
      }
    }
    <yrx-spacing type="M"></yrx-spacing>
    <div class="flex gap-12">
      @for (button of buttons; track button) {
        <yrx-foot-panel class="flex_grow" [routerLink]="'../'+button.data.page" [type]="button.type" [title]="button.data.metadata['title']"></yrx-foot-panel>
      }
    </div>
  }
</div>
