<div class="page" [@routeAnimations]="pageName">
  <yrx-skeleton *ngIf="loading$ | async; else content" theme="dark" [styles]="styles"></yrx-skeleton>
  <ng-template #content>
    <ng-container *ngIf="page as page">
      <ng-container *ngFor="let slice of page.slices; let idx = index" [ngSwitch]="slice.type">
        <yrx-spacing *ngSwitchCase="'spacing'" [type]="getSpacingType(slice.value)"></yrx-spacing>
        <ng-container *ngSwitchCase="'header'">
          <yrx-wiki-head [title]="slice.value" [icon]="page.metadata['icon']"></yrx-wiki-head>
          <yrx-spacing *ngIf="isNotLast(idx)" type="M"></yrx-spacing>
        </ng-container>
        <ng-container *ngSwitchCase="'title'">
          <h3>{{slice.value}}</h3>
          <yrx-spacing *ngIf="isNotLast(idx)" type="XS2"></yrx-spacing>
        </ng-container>
        <ng-container *ngSwitchCase="'subtitle'">
          <p class="headline">{{slice.value}}</p>
          <yrx-spacing *ngIf="isNotLast(idx)" type="XS2"></yrx-spacing>
        </ng-container>
        <ng-container *ngSwitchCase="'text'">
          <p class="text text_big c-gradation-300">{{slice.value}}</p>
          <yrx-spacing *ngIf="isNotLast(idx)" type="S"></yrx-spacing>
        </ng-container>
        <ng-container *ngSwitchCase="'image'">
          <yrx-wiki-picture [description]="slice.displayTitle ?? ''" [src]="slice.value" [alt]="slice.displayTitle ?? 'Википедия yurelax'"></yrx-wiki-picture>
          <yrx-spacing *ngIf="isNotLast(idx)" type="S"></yrx-spacing>
        </ng-container>
        <yrx-link [iconStroked]="true" icon="external-link" (press)="redirect(slice.value)" *ngSwitchCase="'link'">{{slice.displayTitle ?? slice.value}}</yrx-link>
      </ng-container>
    </ng-container>
    <yrx-spacing type="M"></yrx-spacing>
    <div class="flex gap-12">
      <yrx-foot-panel *ngFor="let button of buttons" class="flex_grow" [routerLink]="'../'+button.data.page" [type]="button.type" [title]="button.data.metadata['title']"></yrx-foot-panel>
    </div>
  </ng-template>
</div>
