@import "src/shared/styles/vars.colors";

.layout {
  position: relative;
  overflow-x: hidden;
  background-color: map-get($project-colors, "gradation", 800);
}
.preloading {
  height: 100vh;
}
.withoutScroll {
  padding-right: 12px;
}
