<div class="promo-code flex flex_column">
  <div class="flex flex_column gap-4">
    <p class="text text_table c-gradation-300">Введите промо-код (при наличии):</p>
    <input autocomplete="promo-code" class="input_normal" matInput placeholder="Введите промокод">
  </div>
  <yrx-spacing type="XS"></yrx-spacing>
  <div class="flex gap-16">
    <yrx-button class="w100" type="primary">Подтвердить</yrx-button>
    <yrx-button class="w100" type="secondary">Нет промо-кода</yrx-button>
  </div>
</div>
