<div class="statistics-create flex flex_column" [formGroup]="form" [class.statistics-create_editing]="isEdit">
  <div class="flex flex_column gap-12">

    <yrx-input>
      <input formControlName="title" yrxInput placeholder="Название статистики">
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
    </yrx-input>

    <yrx-text-area>
      <textarea formControlName="description" yrxInput placeholder="Описание статистики"></textarea>
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
    </yrx-text-area>

    <yrx-input>
      <input formControlName="key" yrxInput placeholder="Ключ статистики">
      <yrx-error-hint-field [field]="['required']">Это обязательное поле</yrx-error-hint-field>
      <yrx-error-hint-field [field]="['alreadyUse']">Такая статистика уже существует</yrx-error-hint-field>
      <yrx-error-hint-field [field]="['notAllowedSymbol']">Ключ содержит недопустимые символы</yrx-error-hint-field>
    </yrx-input>

  </div>
  <yrx-spacing type="S"></yrx-spacing>
  <yrx-button *ngIf="!isEdit; else editTemplate" (press)="create()" class="flex_align-self-end" [disabled]="dataLoading || form.pending || form.invalid" [loading]="dataLoading">
    <span>Создать</span>
    <yrx-icon *ngIf="dataLoading || form.pending" btn-icon [stroked]="true" icon="loader"></yrx-icon>
  </yrx-button>
  <ng-template #editTemplate>
    <div class="flex gap-8 flex_align-self-end">
      <yrx-button (press)="edit()" [disabled]="dataLoading || form.pending || form.invalid" [loading]="dataLoading">
        <span>Сохранить</span>
        <yrx-icon *ngIf="dataLoading || form.pending" btn-icon [stroked]="true" icon="loader"></yrx-icon>
      </yrx-button>
      <yrx-button (press)="cancel()" custom="red" [disabled]="dataLoading || form.pending || form.invalid"><span>Отменить</span></yrx-button>
    </div>
  </ng-template>
</div>
