<div class="subscription flex flex_column">
  <div class="top flex_grow">
    <div class="header flex flex_center">
      <h4 [style.color]="data.color">{{data.name}}</h4>
      <img class="decoration decoration_blur decoration-first" [src]="data.decorationFirst" alt="">
      <img class="decoration decoration_blur decoration-second" [src]="data.decorationSecond" alt="">
      <img class="decoration decoration_blur decoration-third" [src]="data.decorationThird" alt="">
      <img class="decoration decoration-first" [src]="data.decorationFirst" alt="">
      <img class="decoration decoration-second" [src]="data.decorationSecond" alt="">
      <img class="decoration decoration-third" [src]="data.decorationThird" alt="">
    </div>
    <yrx-spacing type="S"></yrx-spacing>
    <ul class="list flex flex_column gap-8">
      @for (information of data.information; track information) {
        <li class="text text_body">
          @for (item of information; track item) {
            <span class="text" [ngClass]="getClasses(item)">{{item.text}}</span>
          }
        </li>
      }
    </ul>
  </div>
  <div class="bottom flex flex_column">
    <div class="flex flex_align-center gap-6">
      <h4>{{data.cost}}</h4>
      <yrx-ref-icon name="ucoin"></yrx-ref-icon>
    </div>
    <yrx-spacing type="XS"></yrx-spacing>
    <yrx-button>Оформить подписку</yrx-button>
    <yrx-spacing type="XS"></yrx-spacing>
    <yrx-button class="additional-information" type="secondary">Подробнее</yrx-button>
  </div>
</div>
