@import "src/shared/styles/vars.colors";

.user-panel {
  padding: 16px;
  border-radius: 16px;
  background-color: map-get($project-colors, "gradation", 700);
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}
