<div class="donate-panel flex flex_column gap-24" [ngClass]="type">
  <yrx-coin></yrx-coin>
  <div class="flex flex_column gap-12">
    <p class="text text_body c-gradation-300">Сумма пополнения:</p>
    <div class="flex flex_align-center gap-16">
      @if (oldCoins; as oldCoins) {
        <div class="old-cost flex flex_align-center gap-6">
          <h4 class="c-gradation-400">{{oldCoins}}</h4>
          <yrx-ref-icon name="ucoin"></yrx-ref-icon>
        </div>
      }
      <div class="flex flex_align-center gap-8">
        <h3 class="c-gradation-100">{{coins}}</h3>
        <yrx-ref-icon name="ucoin"></yrx-ref-icon>
      </div>
    </div>
  </div>
  <yrx-button>Оплатить {{cost}} руб.</yrx-button>
  @if (discount) {
    <div class="sale flex flex_center">
      <p class="text text_body medium">{{discount}}%</p>
    </div>
  }
</div>
