<div class="container">
  <yrx-spacing type="L"></yrx-spacing>
  <h3 yrxAnimateOpacity>Топ-8 игроков за {{month}}</h3>
  <yrx-spacing type="M"></yrx-spacing>
  <div class="flex flex_wrap gap-16">
    @for (game of miniGames; track game) {
      <yrx-selector-point style="flex-basis: 300px" [active]="game.miniGameKey === miniGameKey" [iconLoading]="game.miniGameKey === miniGameLoadingKey" (press)="selectTab(game)">
        <ng-container selector-point-icon>
          @if (game.miniGameKey === miniGameLoadingKey) {
            <yrx-icon [stroked]="game.iconStroked" icon="loader"></yrx-icon>
          } @else {
            <yrx-icon [stroked]="game.iconStroked" [icon]="game.icon"></yrx-icon>
          }
        </ng-container>
        <span>{{game.name}}</span>
      </yrx-selector-point>
    }
  </div>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-rating-table [columns]="columns" [data]="tableData"></yrx-rating-table>
  <yrx-spacing type="XS"></yrx-spacing>
  @if (tableData?.values?.length === 0) {
    <p class="text text_body regular c-gradation-300">Поспешите и займите топ первым! </p>
  }
  <yrx-spacing type="L"></yrx-spacing>
</div>
