<div [ngStyle]="{display: isEdit ? 'none' : 'flex'}" class="mini-game-item flex flex_justify-between gap-24" #item>
  <img [src]="data.previewUrl" [alt]="'Превью режима' + data.name" class="preview flex_grow">
  <div class="flex flex_grow flex_column gap-12 flex_justify-between">
    <div class="flex flex_column gap-4">
      <p class="text text_body regular c-gradation-300"><span class="c-gradation-100">Название:</span> {{data.name}}</p>
      <p class="text text_body regular c-gradation-300"><span class="c-gradation-100">Описание:</span> {{data.description}}</p>
      <p class="text text_body regular c-gradation-300"><span class="c-gradation-100">Ключ:</span> {{data.miniGameKey}}</p>
    </div>
    <div class="flex gap-8 flex_align-self-end">
      <ng-container *ngIf="!isDelete; else deleteTemplate">
        <yrx-button [disabled]="dataLoading" (press)="edit()" type="primary">Редактировать</yrx-button>
        <yrx-button [disabled]="dataLoading" (press)="delete()" custom="red" [iconLoading]="dataLoading">
          <span>Удалить</span>
          <yrx-icon btn-icon [stroked]="true" icon="loader"></yrx-icon>
        </yrx-button>
      </ng-container>
      <ng-template #deleteTemplate>
        <yrx-button [disabled]="dataLoading" [iconLoading]="dataLoading" (press)="deleteApi()" type="primary">
          <span>Подтвердить удаление</span>
          <yrx-icon btn-icon [stroked]="true" icon="loader"></yrx-icon>
        </yrx-button>
        <yrx-button [disabled]="dataLoading" (press)="onCancel()" type="primary" custom="red"><span>Отменить</span></yrx-button>
      </ng-template>
    </div>
  </div>
</div>
<yrx-mini-games-create *ngIf="isEdit" (onCancel)="onCancel()" (onUpdate)="onUpdateHandler($event)" [isEdit]="isEdit" [data]="data"></yrx-mini-games-create>
