<form [formGroup]="form">
  <yrx-link [routerLink]="['/auth']" [iconReverse]="true" [iconStroked]="true" icon="arrow-left">Вернуться назад</yrx-link>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-auth-header page="email-code">Сброс пароля</yrx-auth-header>
  <yrx-spacing type="S"></yrx-spacing>

  <yrx-input>

    <input formControlName="email" yrxInput placeholder="Введите e-mail">
    <yrx-error-hint-field field="required">Почта не должна быть пустой</yrx-error-hint-field>
    <yrx-error-hint-field field="email">Указанная почта имеет неверный формат</yrx-error-hint-field>

  </yrx-input>

  <yrx-spacing type="M"></yrx-spacing>
  <yrx-button (press)="send()" class="w100" type="primary" [loading]="dataLoading" [disabled]="dataLoading || form.invalid">
    Отправить
  </yrx-button>
  <yrx-spacing type="XS"></yrx-spacing>
</form>
