<div class="colored-box">
  <h3>Пополнение кошелька</h3>
  <yrx-spacing type="XS"></yrx-spacing>
  <p class="text text_body c-gradation-300">Лучший способ помочь проекту - поддержать его материально! Монеты начисляются в течении 1 рабочего дня в соответствии с суммой пополнения.</p>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-promo-code></yrx-promo-code>
  <yrx-spacing type="S"></yrx-spacing>
  <div class="flex flex_wrap gap-24">
    <yrx-donate-panel></yrx-donate-panel>
    <yrx-donate-panel [oldCost]="129" [cost]="49"></yrx-donate-panel>
    <yrx-donate-panel></yrx-donate-panel>
    <yrx-donate-panel></yrx-donate-panel>
  </div>
</div>
