<div class="sidebar" [class.sidebar_collapsible]="collapsible" [class.sidebar_open]="mobileOpen">
  @if (collapsible) {
    <button class="sidebar__toggle" type="button" [attr.aria-expanded]="mobileOpen" (click)="toggleMobile()">
      <span class="sidebar__toggle-icon"><yrx-icon [stroked]="true" icon="grid"></yrx-icon></span>
      <span>{{mobileLabel}}</span>
      <yrx-icon class="sidebar__toggle-chevron" [stroked]="true" icon="chevron-arrow-down"></yrx-icon>
    </button>
  }
  <div class="sidebar__panel flex flex_column" (click)="closeMobile()">
    <ng-content select="[sidebar-top-content]"></ng-content>
    <div class="sections flex flex_column">
      @for (group of navigation; track group; let groupIdx = $index) {
        <ul class="flex flex_column">
          @for (link of group; track link; let idx = $index) {
            <li>
              @if (link.isButton) {
                <yrx-dropout-point [underlined]="group.length-1 !== idx" (press)="link?.callback?.()" [icon]="link.icon" [iconStroked]="link.iconStroked">
                  <span>{{link.name}}</span>
                </yrx-dropout-point>
              } @else {
                <yrx-dropout-point [underlined]="group.length-1 !== idx && activeIndex-1 !== getLinkIndex(groupIdx, idx)" [link]="link.link" [icon]="link.icon" [iconStroked]="link.iconStroked">
                  <span>{{link.name}}</span>
                </yrx-dropout-point>
              }
            </li>
          }
        </ul>
        @if (navigation.length-1 !== groupIdx) {
          <yrx-spacing type="S"></yrx-spacing>
        }
      }
    </div>
    <ng-content select="[sidebar-bottom-content]"></ng-content>
  </div>
</div>
