@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";

.home {
  height: 100%;
}
.home-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.hero {
  height: calc(100vh - 80px);
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
}
.title {
  max-width: 612px;
}
.show {
  animation: home-btn-container-show $trs;
}
@keyframes home-btn-container-show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.background {
  background-color: map-get($project-colors, "purple", 400);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.columns {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  gap: 24px;
  transform: translateX(calc(((((1296px - 24px*5)/4)*6 + 24px*5) - 100vw)/-2 - 6px));
  .column {
    position: relative;
    flex: 1 0 calc((1296px - 24px*5)/4);
    &::after, &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100vh;
      top: 0;
      background: linear-gradient(0deg, rgba(88,88,218,0) 0%, rgba(88,88,218,1) 64%, rgba(88,88,218,1) 84%, rgba(88,88,218,0) 100%);
    }
    &::after {
      left: 0;
    }
    &::before {
      right: 0;
    }
  }
}

.features {
  background: linear-gradient(90deg, #89B2D2 0%, #A3C5E1 50%, #93BAD9 100%);
  height: 214px;
  overflow: hidden;
  position: relative;
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    max-height: 105vh;
    object-fit: cover;
    filter: blur(15px);
  }
}
.content {
  background-color: map-get($project-colors, "gradation", 800);
  min-height: 100vh;
}
