<div class="online">
  <img [style.right]="(dataLoading ? 205.83 : block.offsetWidth)-24 + 'px'" class="parrot" src="assets/content/landing/online/parrot.png" alt="Описание для юрелакс">
  <img [style.right]="(dataLoading ? 205.83 : block.offsetWidth)+200 + 'px'" class="bee" src="assets/content/landing/online/bee.png" alt="Описание для юрелакс">
  <yrx-spacing type="M"></yrx-spacing>
  <div class="flex flex_align-center flex_justify-between w100">
    <h3 yrxAnimateOpacity>Онлайн на сервере</h3>
    <div #block>
      @if (dataLoading) {
        <yrx-icon [stroked]="true" icon="loader"></yrx-icon>
      } @else {
        <div class="flex flex_align-center gap-16">
          <div class="floating">
            <span></span>
            <span></span>
          </div>
          <h3>{{online}} {{toolsService.declineWord(online, ['Игрок', 'Игрока', 'Игроков'])}}</h3>
        </div>
      }
      <ng-template #content>
        <div class="flex flex_align-center gap-16">
          <div class="floating">
            <span></span>
            <span></span>
          </div>
          <h3>{{online}} {{toolsService.declineWord(online, ['Игрок', 'Игрока', 'Игроков'])}}</h3>
        </div>
      </ng-template>
    </div>
  </div>
  <yrx-spacing type="M"></yrx-spacing>
</div>
