<header class="header" [class.light]="light">
  <div class="container container_large flex flex_justify-between">
    <div class="navigation flex gap-32 flex_align-center">
      <div [routerLink]="'/platform'" class="logotype flex gap-12 flex_align-center">
        <yrx-icon [hover]="false" [color]=" light ? 'purple-100' : ''" icon="yurelax"></yrx-icon>
        <div class="flex flex_column gap-2">
          <h1 class="headline c-gradation-100">yurelax</h1>
          <p class="text text_tiny c-gradation-200">Minecraft сервер</p>
        </div>
      </div>
      <ul class="flex gap-32 ">
        <ng-container *ngFor="let route of routes">
          <li *ngIf="isLogged || !route.isLogged" [routerLink]="route.link" routerLinkActive="active" class="link text text_body regular c-gradation-300">{{route.name}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="flex gap-24 flex_align-center">
      <div class="socials flex gap-12">
        <a *ngFor="let social of socials" [href]="social.link" target="_blank">
          <yrx-icon [color]=" light ? 'purple-200' : ''" [icon]="social.icon"></yrx-icon>
        </a>
      </div>
      <yrx-skeleton *ngIf="(dataLoading || preloading) && !access_token" [styles]="{height: '48px', width: '100px', borderRadius: '6px', padding: '0 16px 0 16px'}" [theme]="light ? 'light' : 'dark'">
        <div class="flex flex_center full-height w100">
          <yrx-skeleton class="w100" [styles]="{height: '20px', width: '100%', borderRadius: '6px'}" [theme]="light ? 'light' : 'dark'"></yrx-skeleton>
        </div>
      </yrx-skeleton>
      <ng-container *ngIf="!dataLoading && !preloading">
        <yrx-button *ngIf="!isLogged; else profilePanel" [custom]="light ? 'light' : ''" [routerLink]="['/auth/login']" type="secondary"><span>Войти</span><yrx-icon btn-icon icon="login"></yrx-icon></yrx-button>
      </ng-container>
      <yrx-skeleton *ngIf="(dataLoading || preloading) && access_token" [styles]="{height: '64px', width: '190px', borderRadius: '8px', padding: '0 12px 0 12px'}" [theme]="light ? 'light' : 'dark'">
        <div class="flex gap-12 flex_align-center full-height">
          <yrx-skeleton [styles]="{height: '40px', width: '40px', borderRadius: '6px'}" [theme]="light ? 'light' : 'dark'"></yrx-skeleton>
          <div class="flex flex_column w100 gap-3">
            <yrx-skeleton class="w100" [styles]="{height: '18px', width: '100%', borderRadius: '6px'}" [theme]="light ? 'light' : 'dark'"></yrx-skeleton>
            <yrx-skeleton class="w100" [styles]="{height: '18px', width: '100%', borderRadius: '6px'}" [theme]="light ? 'light' : 'dark'"></yrx-skeleton>
          </div>
        </div>
      </yrx-skeleton>
      <ng-template #profilePanel>
        <yrx-header-profile-panel [dark]="!light"></yrx-header-profile-panel>
      </ng-template>
    </div>
  </div>
</header>
