$main_font: 'Gilroy';
$second_font: 'Onest';

$project-colors: (
  "gradation": (
    800: #090D11,
    750: #0B0F13,
    700: #101418,
    600: #232A2F,
    500: #5F676D,
    400: #94999E,
    300: #C9CDCF,
    200: #E4E6E7,
    100: #FFFFFF
  ),
  "red": (
    600: #120A0B,
    500: #290A0F,
    400: #C52636,
    300: #DF3A4A,
    200: #F28A8E,
    100: #FCE9E9,
  ),
  "yellow": (
    600: #171003,
    500: #2E2005,
    400: #E5A11A,
    300: #FAB938,
    200: #FFD071,
    100: #FFF6E5,
  ),
  "green": (
    600: #0D1603,
    500: #1F3409,
    400: #66AD1F,
    300: #8CCB4D,
    200: #BFEC92,
    100: #E5F5D6,
  ),
  "purple": (
    600: #0B0A0F,
    500: #151320,
    400: #3D45B8,
    300: #6C6CDA,
    200: #969CEE,
    100: #E9EAFC,
  ),
  "tint": (
    800: rgba(9, 13, 17, 0.75)
  )
);
