<form [formGroup]="form">
  <yrx-auth-header page="recover-password">Новый пароль</yrx-auth-header>
  <yrx-spacing type="XS2"></yrx-spacing>
  <p class="text text_body regular c-gradation-300 text-center">Введите новый пароль. Пароль должен содержать все что надо и не содержать того, чего не надо.</p>
  <yrx-spacing type="S"></yrx-spacing>
  <div class="box">
    <div class="box box_input">
      <input #passwordRef autocomplete="new-password" formControlName="password" type="password" class="input_normal input_iconly" matInput placeholder="Введите пароль">
      <yrx-icon passwordHider [deps]="[passwordRef, passwordRepeatRef]" [stroked]="true" [icon]="passwordRef.type === 'password' ? 'eye-off' : 'eye'"></yrx-icon>
    </div>
    <yrx-error-hint-wrapper [control]="form.get('password')">
      <yrx-error-hint-condition [condition]="['minlength']">Длина пароля должна быть больше {{MIN_PASSWORD_LENGTH}} символов</yrx-error-hint-condition>
      <yrx-error-hint-condition [condition]="['required']">Пароль не должен быть пустым</yrx-error-hint-condition>
    </yrx-error-hint-wrapper>
  </div>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-password-strength [control]="form.get('password')"></yrx-password-strength>
  <yrx-spacing type="XS"></yrx-spacing>
  <div class="box">
    <div class="box box_input">
      <input #passwordRepeatRef autocomplete="password" formControlName="passwordRepeat" type="password" class="input_normal input_iconly" matInput placeholder="Повторите пароль">
    </div>
    <yrx-error-hint-wrapper [control]="form.get('passwordRepeat')" [isYandexCringe]="true">
      <yrx-error-hint-condition [condition]="['notEquivalent']">Пароли не совпадают</yrx-error-hint-condition>
    </yrx-error-hint-wrapper>
  </div>
  <yrx-spacing type="M"></yrx-spacing>
  <yrx-button [iconLoading]="dataLoading" [disabled]="dataLoading || form.invalid || form.pending" (press)="recoverPassword()" class="w100" type="primary"><span>Подтвердить</span><yrx-icon *ngIf="dataLoading" btn-icon icon="loader"></yrx-icon></yrx-button>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-link (press)="cancel()" class="text-center">Отмена</yrx-link>
</form>
