<form [formGroup]="form">
  <yrx-auth-header page="recover-password">Новый пароль</yrx-auth-header>
  <yrx-spacing type="XS2"></yrx-spacing>
  <p class="text text_body regular c-gradation-300 text-center">Введите новый пароль длиной не менее {{MIN_PASSWORD_LENGTH}} символов. Не используйте пароль от других сервисов.</p>
  <yrx-spacing type="S"></yrx-spacing>
  <yrx-input>
    <input #passwordRef autocomplete="new-password" formControlName="password" type="password" yrxInput placeholder="Введите пароль">
    <yrx-ref-icon [yrxPasswordHider]="[passwordRef, passwordRepeatRef]" [name]="passwordRef.type === 'password' ? 'eye-off' : 'eye'"></yrx-ref-icon>
    <yrx-error-hint-field [field]="['minlength']">Длина пароля должна быть больше {{MIN_PASSWORD_LENGTH}} символов</yrx-error-hint-field>
    <yrx-error-hint-field [field]="['required']">Пароль не должен быть пустым</yrx-error-hint-field>
  </yrx-input>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-password-strength></yrx-password-strength>
  <yrx-spacing type="XS"></yrx-spacing>

  <yrx-input>
    <input #passwordRepeatRef autocomplete="password" formControlName="passwordRepeat" type="password" yrxInput placeholder="Повторите пароль">
    <yrx-error-hint-field [field]="['notEquivalent']">Пароли не совпадают</yrx-error-hint-field>
  </yrx-input>

  <yrx-spacing type="M"></yrx-spacing>
  <yrx-button [loading]="dataLoading" [disabled]="dataLoading || form.invalid || form.pending" (press)="recoverPassword()" class="w100" type="primary">
    Подтвердить
  </yrx-button>
  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-link (press)="cancel()" class="text-center flex_align-self-center">Отмена</yrx-link>
</form>
