<div class="rewards-wrapper">
  <article class="reward-kind reward-kind_gameplay">
    <span class="reward-icon"><yrx-icon [stroked]="true" icon="swords"></yrx-icon></span>
    <div><h4>Игровые</h4><p>За матчи, победы и мастерство</p></div>
  </article>
  <article class="reward-kind reward-kind_event">
    <span class="reward-icon"><yrx-icon [stroked]="true" icon="trophy"></yrx-icon></span>
    <div><h4>События</h4><p>За участие в сезонах и ивентах</p></div>
  </article>
  <article class="reward-kind reward-kind_collection">
    <span class="reward-icon"><yrx-icon [stroked]="true" icon="box"></yrx-icon></span>
    <div><h4>Коллекционные</h4><p>Редкие предметы и памятные права</p></div>
  </article>
  <div class="reward-state">
    <strong>Коллекция готовится</strong>
    <span>Полученные награды появятся здесь после переноса истории.</span>
  </div>
</div>
