@import "src/shared/styles/vars.colors";
@import "src/shared/styles/modals/dialog";

.cdk-overlay-backdrop {
  background: map-get($project-colors, "tint", 75);
}

div.yrx-modal {
  div.mat-mdc-dialog-surface {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: unset;
    display: flex;
    justify-content: center;
    & > * {
      min-height: 0;
    }
  }
}

div.donate-modal {
}

.mdc-dialog {
  &__container {
    height: auto;
  }
}

.cdk-global-overlay-wrapper {
  &:has(.yrx-modal) {
    align-items: unset !important;
  }
}
