@import "src/shared/styles/vars.colors";
@import "src/shared/styles/modals/dialog";
@import "src/shared/styles/modals/default";

.cdk-overlay-backdrop {
  background: map-get($project-colors, "tint", 75);
}

div.donate-modal {
  @include default-modal;
}
.mdc-dialog {
  &__container {
    height: auto;
  }
}

.cdk-global-overlay-wrapper {
  align-items: unset !important;
}
