@import "src/app/modules/shared/modules/text-fields/components/input-base/input-base.vars";
@import "src/shared/styles/layout/typography";
@import "src/shared/styles/vars.colors";
@import "src/shared/styles/vars.animations";
@import "src/shared/styles/widjets/icon_tools";


//@mixin input-auto-filled {
//  & + yrx-icon {
//    .icon {
//      &:not(.icon_colored) {
//        fill: map-get($project-colors, "gradation", 800);
//        &.icon_stroke {
//          fill: transparent;
//          stroke: map-get($project-colors, "gradation", 800);
//        }
//      }
//      &-hover {
//        &:not(.icon_colored):not(.icon_stroke):hover {
//          fill: map-get($project-colors, "gradation", 600);
//        }
//        &.icon_stroke:not(.icon_colored):hover {
//          stroke: map-get($project-colors, "gradation", 600);
//        }
//      }
//    }
//  }
//}

@mixin input-dark {
  background-color: map-get($project-colors, "gradation", 750);
  -webkit-box-shadow: 0 0 0 50px map-get($project-colors, "gradation", 750) inset;
}

input {

}
textarea {
  resize: none;
  height: auto;
  padding-top: 14px;
  padding-bottom: 14px;

  &::-webkit-scrollbar {
    background-color: map-get($project-colors, "gradation", 700);
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid map-get($project-colors, "gradation", 700);
    background-color: map-get($project-colors, "gradation", 500);
    border-radius: 4px;
  }
}

.input {
  width: 100%;
  transition: $trs;

  border-radius: 6px;
  padding: 0 16px;

  color: var(--gradation-100);
  caret-color: var(--purple-400);
  background-color: var(--gradation-700);
  border: 1px solid transparent;

  @include text;
  @include weight-regular;

  //&:-webkit-autofill {
  //  -webkit-text-fill-color: var(--gradation-100) !important;
  //}

  //-webkit-box-shadow: 0 0 0 50px var(--gradation-700) inset;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance:textfield;
  }
  &::placeholder {
    color: var(--gradation-400);
  }
  &:not(.ng-invalid):focus {
    background-color: var(--purple-500);
    //-webkit-box-shadow: 0 0 0 50px var(--purple-500) inset;
    border-color: var(--purple-400)
  }
  &.ng-touched {
    &.ng-invalid {
      color: var(--gradation-300);
      border-color: var(--red-400);
      //&:-webkit-autofill {
      //  -webkit-text-fill-color: var(--gradation-300) !important;
      //}
    }
    //&.ng-valid {
    //  color: var(--gradation-300);
    //  border-color: var(--gradation-400);
    //  //&:-webkit-autofill {
    //  //  -webkit-text-fill-color: var(--gradation-300) !important;
    //  //}
    //}
  }

  &_iconly {
    padding-right: 32px;
    & + yrx-ref-icon {
      display: block;
      @include icon-color(var(--gradation-300));
    }
  }

  &_big {
    @include input-size-big;
  }
  &_normal {
    @include input-size-normal;
  }
  &_small {
    @include input-size-small;
  }
}
