@import "src/shared/styles/vars.colors";

.auth-header {
  padding: 24px;
  overflow: hidden;
  border: 1px solid map-get($project-colors, "gradation", 700);
  border-radius: 6px;
  position: relative;
}
.first-image, .second-image, .third-image {
  position: absolute;
}

.register {
  .first-image {
    top: -41px;
    right: -8px;
    filter: blur(1px);
    transform: rotate(-60deg);
    width: 80px;
    height: 80px;
  }

  .second-image {
    filter: blur(1px);
    transform: rotate(30deg);
    width: 72px;
    height: 72px;
    bottom: -28px;
    right: -28px;
  }

  .third-image {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .layer-blur-image {
    filter: blur(50px);
    z-index: 0;
  }
}
.login {
  .first-image {
    top: -40px;
    right: -24px;
    filter: blur(1px);
    transform: rotate(-60deg);
    width: 80px;
    height: 80px;
  }

  .second-image {
    filter: blur(1px);
    transform: rotate(30deg);
    width: 72px;
    height: 72px;
    bottom: -28px;
    right: -20px;
  }

  .third-image {
    right: 24px;
    top: 50%;
    transform: translateY(calc(-50% - 3px));
    z-index: 1;
  }

  .layer-blur-image {
    filter: blur(50px);
    z-index: 0;
  }
}
.email-code {
  .first-image {
    bottom: -28px;
    right: 60px;
    opacity: 0.6;
    filter: blur(2px);
    transform: rotate(45deg);
    width: 72px;
    height: 72px;
  }

  .second-image {
    opacity: 0.3;
    filter: blur(1px);
    transform: rotate(-45deg);
    top: -28px;
    right: -28px;
    width: 72px;
    height: 72px;
  }

  .third-image {
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 104px;
    height: 104px;
  }

  .layer-blur-image {
    filter: blur(50px);
    z-index: 0;
  }
}
.recover-password {
  .first-image {
    top: -36px;
    right: -28px;
    opacity: 0.3;
    filter: blur(1px);
    transform: rotate(-75deg);
    width: 72px;
    height: 72px;
  }

  .second-image {
    opacity: 0.6;
    filter: blur(2px);
    transform: rotate(30deg);
    bottom: -36px;
    right: 60px;
    width: 72px;
    height: 72px;
  }

  .third-image {
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 104px;
    height: 104px;
  }
  .layer-blur-image {
    filter: blur(50px);
    opacity: 0.7;
    z-index: 0;
  }
}
