<button [attr.custom]="optionCustom" (click)="onClick($event)" class="dropout-point" [ngClass]="'dropout-point_'+size" [class.dropout-point_selected]="selected"
        [class.dropout-point_underlined]="underlined" [class.dropout-point_iconly]="icon"
        [routerLink]="link" routerLinkActive="dropout-point_active" #routerLinkActive="routerLinkActive">
  <span class="icon-wrapper">
    <yrx-ref-icon [class.stroke]="iconStroked" [name]="icon"></yrx-ref-icon>
  </span>
  <ng-content></ng-content>
</button>
