<h3>Вики yurelax</h3>
<yrx-spacing type="S"></yrx-spacing>
<div class="flex gap-24">
    <yrx-selection-panel icon="book">
        <ng-container selection-panel-title>Правила</ng-container>
        <ng-container selection-panel-text>Для игры на нашем проекте Вам стоит ознакомиться с правилами.</ng-container>
    </yrx-selection-panel>
    <yrx-selection-panel icon="command">
        <ng-container selection-panel-title>Команды и механики</ng-container>
        <ng-container selection-panel-text>Для получения наилучшего опыта Вам стоит ознакомиться с механиками проекта.</ng-container>
    </yrx-selection-panel>
</div>
<yrx-spacing type="S"></yrx-spacing>
<div class="flex gap-24">
    <yrx-selection-panel icon="download">
        <ng-container selection-panel-title>Обновления</ng-container>
    </yrx-selection-panel>
    <yrx-selection-panel icon="box">
        <ng-container selection-panel-title>Ресурспаки</ng-container>
    </yrx-selection-panel>
    <yrx-selection-panel icon="boxes">
        <ng-container selection-panel-title>Моды</ng-container>
    </yrx-selection-panel>
</div>
<yrx-spacing type="M"></yrx-spacing>
<h3>Обратная связь</h3>
<yrx-spacing type="S"></yrx-spacing>
<div class="flex gap-24 flex_wrap">
    <yrx-social-panel type="tg">
      <ng-container social-panel-title>Поддержка в Telegram</ng-container>
      <ng-container social-panel-text>Отвечаем в течении 24 часов</ng-container>
    </yrx-social-panel>
    <yrx-social-panel type="vk">
      <ng-container social-panel-title>Поддержка во Вконтакте</ng-container>
      <ng-container social-panel-text>Отвечаем в течении 24 часов</ng-container>
    </yrx-social-panel>
    <yrx-social-panel type="dc">
      <ng-container social-panel-title>Остались вопросы?</ng-container>
      <ng-container social-panel-text>Присоединяйтесь к нам в Discord</ng-container>
    </yrx-social-panel>
  </div>