<div class="user-panel">
  <div class="flex flex_justify-between">
    <div class="flex flex_align-center gap-16">
      @if (dataLoading) {
        <yrx-skeleton [styles]="{width: '48px', height: '48px', borderRadius: '6px'}" theme="dark"></yrx-skeleton>
      } @else {
        <img [src]="userStore?.userInfoRef?.avatarUrl ?? 'assets/content/header/default-avatar.png'" [alt]="'Аватар игрока '+$safeNavigationMigration(userStore?.login)+' yurelax'" class="avatar">
      }
      <h4>{{userStore?.login}}</h4>
    </div>
    <p class="tag text text_body medium c-gradation-300 flex_align-self-start">Yurelax ID</p>
  </div>
  <yrx-spacing type="S"></yrx-spacing>
  <div class="flex flex_column gap-8">
    <div class="flex gap-4">
      <p class="text text_body regular c-gradation-300">Почта:</p>
      <p class="text text_body regular c-gradation-100">{{userStore?.email || 'не указана'}}</p>
    </div>
    <div class="flex gap-4">
      <p class="text text_body regular c-gradation-300">Безопасность:</p>
      <p class="text text_body regular" [class.c-green-300]="userStore?.emailVerify" [class.c-red-300]="!userStore?.emailVerify">
        {{userStore?.emailVerify ? 'почта подтверждена' : 'почта не подтверждена'}}
      </p>
    </div>
    <div class="flex gap-4">
      <p class="text text_body regular c-gradation-300">Дата регистрации:</p>
      <p class="text text_body regular c-gradation-100">{{$safeNavigationMigration(userStore?.userInfoRef?.createdAt) | date: 'dd.MM.YY'}}</p>
    </div>
    <div class="flex gap-4">
      <p class="text text_body regular c-gradation-300">Minecraft:</p>
      <p class="text text_body regular" [class.c-green-300]="userStore?.userInfoRef?.minecraftLinked" [class.c-gradation-300]="!userStore?.userInfoRef?.minecraftLinked">
        {{userStore?.userInfoRef?.minecraftLinked ? 'подключён' : 'ещё не подключён'}}
      </p>
    </div>
  </div>
  <yrx-spacing type="S"></yrx-spacing>
  <yrx-link [iconStroked]="true" icon="arrow-right" size="small">Статистика по мини-играм</yrx-link>
</div>
