<section class="profile-layout flex flex_column" [ngStyle]="styles">
  <yrx-profile-header></yrx-profile-header>
  <yrx-spacing type="L"></yrx-spacing>
  <main [@routeAnimations]="animationsService.getRouteAnimationData(null, false)"
        class="main flex_grow flex flex_column">
    <div class="container flex_grow flex gap-48">
      <yrx-sidebar [navigation]="profileNavigation">
        <ng-container sidebar-top-content>
          <yrx-link [routerLink]="['/platform']" [iconReverse]="true" [iconStroked]="true" icon="arrow-left">Вернуться
            назад
          </yrx-link>
          <yrx-spacing type="S"></yrx-spacing>
          <yrx-sidebar-user-panel></yrx-sidebar-user-panel>
          <yrx-spacing type="XS"></yrx-spacing>
          <yrx-button *ngIf="userStore?.role === RolesEnum.ADMIN" type="secondary" [routerLink]="['/admin']">
            <span>Дэшборд</span>
            <yrx-icon btn-icon [stroked]="true" icon="arrow-right"></yrx-icon>
          </yrx-button>
          <yrx-spacing type="XS"></yrx-spacing>
        </ng-container>
      </yrx-sidebar>
      <div class="scrollable flex_grow">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <yrx-footer></yrx-footer>
</section>
