@import "src/shared/styles/vars.colors";

.status {
  height: 32px;
  padding: 0 12px;
  border-radius: 6px;
  &-bad {
    background-color: map-get($project-colors, "red", 400);
  }
  &-normal {
    background-color: map-get($project-colors, "yellow", 400);
  }
  &-good {
    background-color: map-get($project-colors, "green", 400);
  }
}
