<div class="sidebar flex flex_column">
  <yrx-link></yrx-link>
  <yrx-spacing type="S"></yrx-spacing>
  <yrx-profile-sidebar-user-panel></yrx-profile-sidebar-user-panel>
  <div class="sections flex flex_column">
    <ng-container *ngFor="let navigation of profileNavigation">
      <ul class="flex flex_column">
        <li *ngFor="let link of navigation">
          <a [routerLink]="[link.link]" routerLinkActive="active" class="text text_body regular">
            <yrx-icon [icon]="link.icon"></yrx-icon>
            {{link.name}}
          </a>
        </li>
      </ul>
      <yrx-spacing type="S"></yrx-spacing>
    </ng-container>
    <ul class="flex flex_column">
      <li>
        <a class="text text_body regular">
          <yrx-icon icon="laptop"></yrx-icon>
          Выйти со всех устройств
        </a>
      </li>
      <li>
        <a class="text text_body regular">
          <yrx-icon icon="log-out"></yrx-icon>
          Выйти
        </a>
      </li>
    </ul>
  </div>
</div>
