<div class="offer">
  <div class="content flex flex_column">
    <h3>Особенный <span class="c-yellow-300">/pouch</span> для новых игроков нашего проекта</h3>
    <yrx-spacing type="XS"></yrx-spacing>
    <p class="text text_big regular c-gradation-300">Присоединись к проекту и получи особенный набор предметов, который обеспечит быстрый старт.</p>
    <yrx-spacing type="XS"></yrx-spacing>
    <img src="assets/content/landing/inventory.png" alt="inventory">
    <yrx-spacing type="M"></yrx-spacing>
    <yrx-button class="flex_align-self-start" type="primary" size="big">Получить мешочек</yrx-button>
  </div>
</div>
