@if (userLoading) {
  <yrx-ref-icon name="loader"></yrx-ref-icon>
} @else {
  <div [@fadeAnimation]="error || !greeting || successMA || !MAKey || transitionToLogin" class="text-center">
    @if (userStore) {
      <h3>Привет, <span class="c-purple-300">{{userStore?.login}}</span>!</h3>
    } @else {
      <h3>Привет!</h3>
    }
    <yrx-spacing type="XS"></yrx-spacing>
    <p class="text text_big regular flex flex_center gap-8"><span>Прямо сейчас мы авторизуем тебя, осталось немного</span><yrx-ref-icon name="loader"></yrx-ref-icon></p>
  </div>
  <div [@fadeAnimation]="!error || successMA" class="text-center">
    <h3>Сессия недействительна 😥</h3>
    <yrx-spacing type="XS"></yrx-spacing>
    <p class="text text_big regular">Получите новую ссылку и зайдите заново</p>
  </div>
  <div [@fadeAnimation]="error || !dataLoading || greeting" class="text-center">
    <h3 class="flex flex_center gap-8"><span>Загрузка</span> <yrx-ref-icon name="loader"></yrx-ref-icon></h3>
    <yrx-spacing type="XS"></yrx-spacing>
    <p class="text text_big regular">Проверяем твою сессию на актуальность</p>
  </div>
  <div [@fadeAnimation]="error || !successMA" class="text-center">
    <h3 class="c-green-300">Авторизация прошла успешно!</h3>
    <yrx-spacing type="XS"></yrx-spacing>
    <p class="text text_big regular">Вы можете закрыть это окно</p>
  </div>
}

