@import "src/shared/styles/layout/colored-box";

.border-radius {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
}
.statistic {
  @include colored-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
