@import "src/shared/styles/layout/colored-box";

.scrollable {
}

.colored-box {
  @include colored-box;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

:host {
  width: 100%;
  display: block;
  &::after, &::before {
    content: '';
    display: block;
    height: 24px;
  }
}

yrx-donate-panel {
  flex-basis: calc(50% - 8px);
}
