<div class="box-wrapper flex flex_column gap-4">
  @if (baseComponent.label) {
    <span class="box-label text c-bti-tertiary">
      <ng-content select="[yrxLabel]"></ng-content>
    </span>
  }
  <div
    [class.box-right-iconly]="baseComponent.iconRight"
    [class.box-left-iconly]="baseComponent.iconLeft"
    class="box" [ngClass]="classes"
    >
    <ng-content></ng-content>
    <div class="icon-wrapper" [class.right-wrapper]="baseComponent.iconRight">
      <ng-content select="[yrxIconRight]"></ng-content>
    </div>
    <div class="icon-wrapper" [class.left-wrapper]="baseComponent.iconLeft">
      <ng-content select="[yrxIconLeft]"></ng-content>
    </div>
  </div>
  <yrx-error-hint-wrapper></yrx-error-hint-wrapper>
</div>
