<h3>Статистика</h3>
<yrx-spacing type="S"></yrx-spacing>
<yrx-statistics-create (onCreate)="onCreate($event)" class="w100"></yrx-statistics-create>
<yrx-spacing type="M"></yrx-spacing>
<div class="overflow">
  <div class="box box_input" [formGroup]="form">
    <input formControlName="value" class="input_normal input_iconly" matInput placeholder="Поиск по ключу">
    <yrx-icon [hover]="false" [stroked]="true" [icon]="dataLoading ? 'loader' : 'search'"></yrx-icon>
  </div>
  <yrx-spacing type="S"></yrx-spacing>
  @for (statistics of statisticsList; track statistics; let idx = $index) {
    <yrx-statistics-item [index]="idx" (onUpdate)="onUpdate($event)" (onDelete)="onDelete($event)" [data]="statistics"></yrx-statistics-item>
    <yrx-spacing type="XS"></yrx-spacing>
  }
  @if (statisticsList.length === 0 && !dataLoading) {
    <p class="text text_body regular c-gradation-300">Нет результатов</p>
  }
</div>
