html, body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--gradation-100);
  background: var(--gradation-800);
  font-family: 'Onest', sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

button,
input,
textarea,
select {
  font-family: inherit;
  line-height: inherit;
}

@import "src/shared/styles/reset";
@import "src/shared/styles/layout/main";
@import "src/shared/styles/widjets/main";
@import "src/shared/styles/modals/main";
@import "src/shared/styles/vars.colors";

.cursor-pointer {
  cursor: pointer;
}

img, svg {
  user-select: none;
  -webkit-user-drag: none;
}

.w100 {
  width: 100%;
}

.full-height {
  height: 100%;
}

::-webkit-scrollbar {
  background-color: map-get($project-colors, "gradation", 800);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid map-get($project-colors, "gradation", 800);
  background-color: map-get($project-colors, "gradation", 500);
  border-radius: 4px;
}
.separator {
  height: 1px;
  background-color: map-get($project-colors, "gradation", 600);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cdk-overlay-transparent-backdrop {
  transition: unset !important;
}

ul.list {
  li {
    padding-left: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: 8px;
      top: 0.5em;
      width: 3px;
      height: 3px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: map-get($project-colors, "gradation", 300);
    }
  }
}

:root {
  /* Fonts */
  --main-font: 'Gilroy';
  --second-font: 'Onest';

  /* Gradation Colors */
  --gradation-800: #090D11;
  --gradation-750: #0B0F13;
  --gradation-700: #101418;
  --gradation-600: #232A2F;
  --gradation-500: #5F676D;
  --gradation-400: #94999E;
  --gradation-300: #C9CDCF;
  --gradation-200: #E4E6E7;
  --gradation-100: #FFFFFF;

  /* Red Colors */
  --red-600: #120A0B;
  --red-500: #290A0F;
  --red-400: #C52636;
  --red-300: #DF3A4A;
  --red-200: #F28A8E;
  --red-100: #FCE9E9;

  /* Yellow Colors */
  --yellow-600: #171003;
  --yellow-500: #2E2005;
  --yellow-400: #E5A11A;
  --yellow-300: #FAB938;
  --yellow-200: #FFD071;
  --yellow-100: #FFF6E5;

  /* Green Colors */
  --green-600: #0D1603;
  --green-500: #1F3409;
  --green-400: #66AC20;
  --green-300: #8CCB4D;
  --green-200: #BFEC92;
  --green-100: #E5F5D6;

  /* Purple Colors */
  --purple-600: #0B0A0F;
  --purple-500: #151320;
  --purple-400: #3D45B8;
  --purple-300: #6C6CDA;
  --purple-200: #969CEE;
  --purple-100: #E9EAFC;

  /* Tint Colors */
  --tint-75: rgba(9, 13, 17, 0.75);
  --tint-60: rgba(9, 13, 17, 0.6);
  --tint-45: rgba(9, 13, 17, 0.45);
}
