@font-face {
  font-family: 'Onest';
  src: url('./shared/fonts/Onest-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./shared/fonts/Onest-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./shared/fonts/gilroy-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./shared/fonts/gilroy-semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  background: #090d0d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  background: #090d0d;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
svg {
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  color: #090d0d;
  background: #c0e241;
}

::-webkit-scrollbar {
  width: 10px;
  background: #090d0d;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #090d0d;
  background: #46504a;
}
