<form [formGroup]="form">
  <yrx-auth-header page="register">Регистрация</yrx-auth-header>
  <yrx-spacing type="S"></yrx-spacing>

  <yrx-input>
    <input autocomplete="nickname" formControlName="login" yrxInput placeholder="Введите логин">
    <yrx-error-hint-field field="required">Логин не должен быть пустым</yrx-error-hint-field>
    <yrx-error-hint-field [field]="['minlength', 'maxlength']">Длина логина должна быть от {{MIN_LOGIN_LENGTH}} до {{MAX_LOGIN_LENGTH}} символов</yrx-error-hint-field>
    <yrx-error-hint-field field="pattern">Логин содержит недопустимые символы</yrx-error-hint-field>
    <yrx-error-hint-field field="alreadyUse">Такой логин уже существует</yrx-error-hint-field>
  </yrx-input>

  <yrx-spacing type="XS"></yrx-spacing>

  <yrx-input>
    <input autocomplete="email" formControlName="email" yrxInput placeholder="Введите e-mail">
    <yrx-error-hint-field field="required">Почта не должна быть пустой</yrx-error-hint-field>
    <yrx-error-hint-field field="email">Указанная почта имеет неверный формат</yrx-error-hint-field>
    <yrx-error-hint-field field="alreadyUse">Такая почта уже существует</yrx-error-hint-field>
  </yrx-input>

  <yrx-spacing type="XS"></yrx-spacing>

  <yrx-input>
    <input #passwordRef autocomplete="new-password" formControlName="password" type="password" yrxInput placeholder="Введите пароль">
    <yrx-ref-icon yrxIconRight [yrxPasswordHider]="[passwordRef, passwordRepeatRef]" [name]="passwordRef.type === 'password' ? 'eye-off' : 'eye'"></yrx-ref-icon>
    <yrx-error-hint-field field="minlength">Длина пароля должна быть больше {{MIN_PASSWORD_LENGTH}} символов</yrx-error-hint-field>
    <yrx-error-hint-field field="required">Пароль не должен быть пустым</yrx-error-hint-field>
  </yrx-input>

  <yrx-spacing type="XS"></yrx-spacing>
  <yrx-password-strength></yrx-password-strength>
  <yrx-spacing type="XS"></yrx-spacing>

  <yrx-input>
    <input #passwordRepeatRef autocomplete="password" formControlName="passwordRepeat" type="password" yrxInput placeholder="Повторите пароль">
    <yrx-error-hint-field field="notEquivalent">Пароли не совпадают</yrx-error-hint-field>
  </yrx-input>

  <yrx-spacing type="S"></yrx-spacing>
  <p class="text text_table regular">
    Продолжая вы принимаете <a href="#" class="link c-purple-300 medium">условия пользования</a> и соглашаетесь с <a
    href="#" class="link c-purple-300 medium">политикой конфеденциальности</a>
  </p>
  <yrx-spacing type="M"></yrx-spacing>
  <yrx-button [loading]="dataLoading" [disabled]="dataLoading || form.invalid || form.pending" (press)="register()" class="w100" type="primary">
    Зарегистрироваться
  </yrx-button>
  <yrx-spacing type="XS"></yrx-spacing>
  <div class="flex flex_center gap-6">
    <p class="text text_body regular">Уже есть аккаунт?</p>
    <yrx-link [routerLink]="['/auth/login']" [iconStroked]="true" icon="login">Войти</yrx-link>
  </div>
</form>
