<h3>Мини-игры</h3>
<yrx-spacing type="S"></yrx-spacing>
<yrx-mini-games-create (onCreate)="onCreate($event)"></yrx-mini-games-create>
<yrx-spacing type="M"></yrx-spacing>
<div class="overflow">
  @for (miniGame of miniGames; track miniGame; let idx = $index) {
    <yrx-mini-games-item [index]="idx" (onUpdate)="onUpdate($event)" (onDelete)="onDelete($event)" [data]="miniGame"></yrx-mini-games-item>
    @if (idx !== miniGames.length-1) {
      <yrx-spacing type="XS"></yrx-spacing>
    }
  }
</div>
@if (miniGames.length === 0 && !dataLoading) {
  <p class="text text_body regular c-gradation-300">Пока что нет ни одной мини-игры</p>
}
